@import 'src/app/utils/_styleVariables';

:host {
  display: block;
  background-color: $black;

  @media screen and (min-device-width: $desktop-size) {
    padding-left: calc((100% - 1300px) / 2);
    padding-right: calc((100% - 1300px) / 2);
    width: 1300px;
    display: flex;
    justify-content: space-around;
  }
  @media screen and (max-device-width: $desktop-size) {
    width: 80.85vw;
    padding-left: calc((100vw - 80.85vw) / 2);
    padding-right: calc((100vw - 80.85vw) / 2);
  }
  #contact-description {
    @media screen and (min-device-width: $desktop-size) {
      width: 300px;
      margin-top: 80px;
    }
    @media screen and (max-device-width: $desktop-size) {
      width: 100%;
      padding-top: 12.77vw;
    }

    #contact-description-title {
      color: $white;
      font-weight: normal;
      @media screen and (min-device-width: $desktop-size) {
        font-size: 44px;
      }
      @media screen and (max-device-width: $desktop-size) {
        font-size: 2em;
      }
    }
    #contact-description-content {
      border-left: 2px solid $gold;
      color: $white;
      line-height: 1.63;
      font-size: 16px;
      @media screen and (min-device-width: $desktop-size) {
        margin-top: 40px;
        width: 275px;
        padding-left: 24px;
      }
      @media screen and (max-device-width: $desktop-size) {
        margin-top: 8.51vw;
        width: calc(100% - 5.85vw);
        padding-left: 5.85vw;
      }
    }
  }

  #contact-form {
    @media screen and (min-device-width: $desktop-size) {
      width: 632px;
      margin-top: 137px;
    }
    @media screen and (max-device-width: $desktop-size) {
      width: 100%;
      margin-top: 12.77vw;
    }

    // padding inside field
    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
      padding: 6px 0;
    }
    // Field Label
    ::ng-deep .mat-form-field-label {
      color: $grey;
      font-size: 14px;
      font-family: 'Montserrat';
      font-weight: 600;
      letter-spacing: 1px;
    }
    // Label when filled
    ::ng-deep .mat-form-field .mat-form-field-label {
      font-size: 14px;
    }
    // Label when empty
    ::ng-deep .mat-form-field.mat-form-field-empty .mat-form-field-label {
      font-size: 16px;
    }
    // Label when error
    ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
      color: red;
    }
    // Label when focused
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
      color: $gold;
    }

    // Underline when not selected
    ::ng-deep .mat-form-field-underline {
      background-color: $grey;
    }
    // Underline on error
    ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
      background-color: red;
    }
    // Underline when focused
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
      background-color: $gold;
    }
    // Input text color
    input,
    textarea {
      color: $white;
      font-weight: normal;
    }
    // Error message
    ::ng-deep .mat-error {
      color: red;
    }

    #name-field {
      font-family: 'Montserrat';
      font-size: 16px;
      @media screen and (min-device-width: $desktop-size) {
        width: 300px;
        margin-right: 32px;
      }
      @media screen and (max-device-width: $desktop-size) {
        width: 100%;
      }
    }
    #email-field {
      font-family: 'Montserrat';
      font-size: 16px;
      @media screen and (min-device-width: $desktop-size) {
        width: 300px;
      }
      @media screen and (max-device-width: $desktop-size) {
        width: 100%;
        margin-top: 6.38vw;
      }
    }
    #message-field {
      font-family: 'Montserrat';
      font-size: 16px;
      line-height: 1.63;
      @media screen and (min-device-width: $desktop-size) {
        width: 100%;
        margin-top: 32px;
      }
      @media screen and (max-device-width: $desktop-size) {
        width: 100%;
        margin-top: 6.38vw;
      }
    }
    #captcha-and-submit-container {
      @media screen and (min-device-width: $desktop-size) {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin: 12.77vw 0 80px 0;
      }
      @media screen and (max-device-width: $desktop-size) {
        margin-top: 8.51vw;
        width: 100%;
      }

      #captcha-field {
        width: 304px;
        @media screen and (max-device-width: $desktop-size) {
          padding-left: calc((100% - 80.85vw) / 2);
        }
      }

      #submit-button {
        border: 1px solid $white;
        background-color: $black;
        font-family: 'Montserrat';
        color: $white;
        border-radius: 0;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 500;

        @media screen and (min-device-width: $desktop-size) {
          width: 128px;
          cursor: pointer;
          height: 40px;
        }
        @media screen and (max-device-width: $desktop-size) and (min-device-width: $tablet-size) {
          margin: 40px 0px 56px calc((100% - 250px) / 2);
          width: 250px;
          height: 40px;
        }
        @media screen and (max-device-width: $tablet-size) {
          width: 100%;
          margin-top: 10.64vw;
          margin-bottom: 14.89vw;
          height: 10.64vw;
        }
      }
      #sending-message-loader {
        color: $gold;
        font-size: 25px;
        @media screen and (min-device-width: $desktop-size) {
          margin-right: 50px;
        }
        @media screen and (max-device-width: $desktop-size) {
          width: 100%;
          height: 10.64vw;
          line-height: 10.64vw;
          text-align: center;
          margin-top: 10.64vw;
          margin-bottom: 14.89vw;
        }
      }
      #success-message {
        display: flex;
        @media screen and (min-device-width: $desktop-size) {
          height: 40px;
          line-height: 40px;
          width: 160px;
        }
        @media screen and (max-device-width: $desktop-size) {
          height: 10.64vw;
          line-height: 10.64vw;
          margin-top: 10.64vw;
          padding-bottom: 14.89vw;
          width: 100%;
          justify-content: center;
        }
        #success-message-icon {
          @media screen and (min-device-width: $desktop-size) {
            height: 24px;
            width: 24px;
            margin-right: 4px;
          }
          @media screen and (max-device-width: $desktop-size) {
            height: 6.38vw;
            width: 6.38vw;
            margin-right: 1.06vw;
          }
        }
        #success-message-message {
          color: $gold;
          font-size: 16px;
        }
      }
    }
  }
}
