@import 'src/app/utils/_styleVariables';

:host {
  #contact-form-container {
    padding-left: calc((100vw - 1300px) / 2);
    padding-right: calc((100vw - 1300px) / 2);
    width: 1300px;
    display: flex;
    justify-content: space-around;
    background-color: $black;

    #contact-description {
      width: 301px;
      margin-top: 80px;
      #contact-description-title {
        color: $white;
        font-size: 40px;
      }
      #contact-description-content {
        margin-top: 40px;
        width: 275px;
        padding-left: 24px;
        border-left: 2px solid $gold;
        color: $white;
        font-size: 16px;
      }
    }

    #contact-form {
      width: 634px;
      margin-top: 137px;

      // Field Label Color
      ::ng-deep .mat-form-field-label {
        color: $grey;
      }
      // Underline when not selected
      ::ng-deep .mat-form-field-underline {
        background-color: $grey;
      }
      // Error message
      ::ng-deep .mat-error {
        color: red;
      }
      // Underline on error
      ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
        background-color: red;
      }
      // Label when error
      ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
        color: red;
      }
      // Label when focused
      ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
        color: $gold;
      }
      // Underline when focused
      ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: $gold;
      }
      // Input text color
      input,
      textarea {
        color: $white;
      }

      #name-field {
        width: 301px;
        margin-right: 32px;
      }
      #email-field {
        width: 301px;
      }
      #message-field {
        width: 100%;
        margin-top: 32px;
      }
      #captcha-and-submit-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin: 48px 0px 80px 0px;
        #submit-button {
          width: 128px;
          height: 40px;
          line-height: 40px;
          border: 1px solid $white;
          background-color: $black;
          color: $white;
          border-radius: 0;
          font-size: 16px;
          letter-spacing: 2px;
          font-weight: bold;
          cursor: pointer;
        }
        #success-message {
          width: 160px;
          height: 40px;
          line-height: 40px;
          display: flex;
          #success-message-icon {
            margin-right: 4px;
          }
          #success-message-message {
            color: $gold;
            font-size: 16px;
          }
        }
      }
    }
  }
}
