@import 'src/app/utils/_styleVariables';

:host {
  width: 100%;
  height: 4.72em;
}

#line-container {
  margin-left: calc((100% - 92.86vw) / 2);
  width: 92.83vw;
  padding-top: 2.22vw;
  display: flex;
  justify-content: space-between;

  #social-media-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    #social-media-title {
      margin-right: 1.11em;
      user-select: none;
    }

    #social-media-separator {
      width: 5.55vw;
      height: 0.14vw;
      border: none;
      margin: 0.14vw 0.28vw 0 0;
      background-color: $gold;
    }

    .social-media-link {
      user-select: none;
      &:focus {outline : none;}
      .social-media-icon {
      height : 2.78vw;
      width : 2.78vw;
    }
    }
  }
}
