<div id="artist-first-layer">
  <div id="artist-first-inside-layer"></div>
</div>
<div id="artist-second-layer"></div>

<artist-navigation [isMobile]="isMobile" [artist]="artist"></artist-navigation>

<div id="artist-cover-wrapper">
<div id="artist-cover">
  <div id="artist-title-wrapper">
    <p id="artist-type">{{ artist.type | uppercase }}</p>
    <h2 id="artist-name">{{ artist.name }}</h2>
  </div>
  <div id="artist-cover-picture-wrapper">
    <img
      id="artist-cover-picture"
      alt="{{ artist.name }} cover picture"
      [defaultImage]="'assets/img/loading.gif'"
      [lazyLoad]="getArtistCoverPicture()"
    />
  </div>
  <div id="picture-gradient"></div>
  <div id="artist-socials-wrapper">
    <hr id="socials-separator" />
    <div id="socials-icons-wrapper">
      <a
        *ngIf="artist.url_facebook !== ''"
        class="social-link"
        href="{{ artist.url_facebook }}"
        target="_blank"
        rel="noopener"
      >
        <img
          class="social-icon"
          alt="Facebook Icon"
          src="{{ isMobile ? 'assets/icons/social_facebook_white.svg' : 'assets/icons/social_facebook_black.svg' }}"
        />
      </a>
      <a
        *ngIf="artist.url_instagram !== ''"
        class="social-link"
        href="{{ artist.url_instagram }}"
        target="_blank"
        rel="noopener"
      >
        <img
          class="social-icon"
          alt="Instagram Icon"
          src="{{ isMobile ? 'assets/icons/social_instagram_white.svg' : 'assets/icons/social_instagram_black.svg' }}"
        />
      </a>
      <a
        *ngIf="artist.url_youtube !== ''"
        class="social-link"
        href="{{ artist.url_youtube }}"
        target="_blank"
        rel="noopener"
      >
        <img
          class="social-icon"
          alt="Youtube Icon"
          src="{{ isMobile ? 'assets/icons/social_youtube_white.svg' : 'assets/icons/social_youtube_black.svg' }}"
        />
      </a>
      <a
        *ngIf="artist.url_soundcloud !== ''"
        class="social-link"
        href="{{ artist.url_soundcloud }}"
        target="_blank"
        rel="noopener"
      >
        <img
          class="social-icon"
          alt="Soundcloud Icon"
          src="{{ isMobile ? 'assets/icons/social_soundcloud_white.svg' : 'assets/icons/social_soundcloud_black.svg' }}"
        />
      </a>
      <a
        *ngIf="artist.url_spotify !== ''"
        class="social-link"
        href="{{ artist.url_spotify }}"
        target="_blank"
        rel="noopener"
      >
        <img
          class="social-icon"
          alt="Spotify Icon"
          src="{{ isMobile ? 'assets/icons/social_spotify_white.svg' : 'assets/icons/social_spotify_black.svg' }}"
        />
      </a>
      <a
        *ngIf="artist.url_deezer !== ''"
        class="social-link"
        href="{{ artist.url_deezer }}"
        target="_blank"
        rel="noopener"
      >
        <img
          class="social-icon"
          alt="Deezer Icon"
          src="{{ isMobile ? 'assets/icons/social_deezer_white.svg' : 'assets/icons/social_deezer_black.svg' }}"
        />
      </a>
    </div>
  </div>
  <div id="artist-logo-picture-wrapper">
    <img
      id="artist-logo-picture"
      alt="{{ artist.name }} logo picture"
      [defaultImage]="'assets/img/loading.gif'"
      [lazyLoad]="artist.logo_picture !== '' ? artist.logo_picture : 'assets/img/artists/default_logo.jpg'"
    />
  </div>
  <div id="artist-description-wrapper">
    <hr id="description-separator" />
    <p id="artist-description">{{ artist.description | translation }}</p>
  </div>
</div>
</div>
