@import 'src/app/utils/_styleVariables';

@media screen and (min-device-width: $desktop-size) {
}
@media screen and (max-device-width: $desktop-size) {
}

#artist-first-layer {
  border-left: 2px solid $very-light-grey;
  @media screen and (min-device-width: $desktop-size) {
    display: inline-block;
    margin-left: 12.5vw;
    width: calc(100vw - 12.5vw - 2px - 35.69vw);
    height: calc(122px + 42.15vw);
  }
  @media screen and (max-device-width: $desktop-size) {
    margin-left: 12.23vw;
    width: calc(100vw - 12.23vw - 2px - 12.23vw - 2px);
    height: calc(74px + 65px + 91.49vw + 48px + 244px + 64px);
    border-right: 2px solid $very-light-grey;
  }

  #artist-first-inside-layer {
    border-right: 2px solid $very-light-grey;
    @media screen and (min-device-width: $desktop-size) {
      width: calc(33.33vw - 12.5vw);
      height: calc(122px + 42.15vw);
    }
    @media screen and (max-device-width: $desktop-size) {
      width: 26.86vw;
      height: calc(74px + 65px + 91.49vw + 48px + 244px + 64px);
    }
  }
}
#artist-second-layer-wrapper {
  @media screen and (min-device-width: $desktop-size) {
    display: inline-block;
  }
  @media screen and (max-device-width: $desktop-size) {
    position: relative;
  }
  #artist-second-layer {
    background-color: $very-light-grey;
    @media screen and (min-device-width: $desktop-size) {
      height: calc(122px + 42.15vw);
      width: 35.69vw;
    }
    @media screen and (max-device-width: $desktop-size) {
      position: absolute;
      width: 60.37vw;
      height: calc(74px + 65px + 91.49vw);
      right: 0;
      margin-top: calc(-74px - 65px - 91.49vw - 48px - 244px - 64px);
    }
  }
}

#artist-cover-wrapper {
  position: relative;
  #artist-cover {
    position: absolute;
    @media screen and (min-device-width: $desktop-size) {
      width: calc(100vw - 4.86vw - 4.86vw);
      margin-left: 4.86vw;
      height: calc(122px + 42.15vw - 91px);
      margin-top: calc(-122px - 42.15vw + 91px);
    }
    @media screen and (max-device-width: $desktop-size) {
      margin-top: calc(-65px - 91.49vw - 48px - 244px - 64px);
      width: 100vw;
      height: calc(65px + 91.49vw);
    }
    #artist-title-wrapper {
      background-color: $black;
      color: $white;
      position: relative;
      z-index: 2;
      @media screen and (min-device-width: $desktop-size) {
        width: calc(-32px + 28.61vw - 32px);
        padding: 32px;
        height: calc(1.81vw + 3vw);
      }
      @media screen and (max-device-width: $desktop-size) {
        width: calc(-16px + 67.82vw - 16px);
        padding: 12px 16px;
        height: calc(6.91vw + 10.64vw + 3px);
      }
      #artist-type {
        display: flex;
        align-items: center;
        font-weight: bold;
        @media screen and (min-device-width: $desktop-size) {
          height: 1.81vw;
          font-size: 0.9em;
          letter-spacing: 2px;
          line-height: 1.63;
        }
        @media screen and (max-device-width: $desktop-size) {
          height: 6.91vw;
          font-size: 0.66em;
          letter-spacing: 1.5px;
          line-height: 1.5;
        }
      }
      #artist-name {
        display: flex;
        align-items: center;
        font-weight: normal;

        @media screen and (min-device-width: $desktop-size) {
          height: 3vw;
          font-size: 2.5em;
          line-height: 1.27;
          margin-left: 4px;
        }
        @media screen and (max-device-width: $desktop-size) {
          height: 6.91vw;
          font-size: 1.78em;
          line-height: 1.25;
          margin-left: 1px;
          margin-top: 3px;
        }
      }
    }
    #artist-cover-picture-wrapper {
      display: flex;
      overflow: hidden;
      @media screen and (min-device-width: $desktop-size) {
        margin-top: calc(-32px - 1.81vw - 3vw);
        margin-left: calc(12.5vw - 4.86vw);
        height: 42.15vw;
        width: 74.93vw;
        align-items: center;
      }
      @media screen and (max-device-width: $desktop-size) {
        margin-top: -25px;
        margin-left: calc((100vw - 91.49vw) / 2);
        height: 91.49vw;
        width: 91.49vw;
        justify-content: center;
      }

      #artist-cover-picture {
        @media screen and (min-device-width: $desktop-size) {
          width: 74.93vw;
        }
        @media screen and (max-device-width: $desktop-size) {
          height: 91.49vw;
          width: 91.49vw;
        }
      }
    }
    #picture-gradient {
      position: relative;
      z-index: 1;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.71));
      @media screen and (min-device-width: $desktop-size) {
        position: relative;
        z-index: 1;
        height: 21.1vw;
        margin-top: -21.1vw;
        margin-left: calc(12.5vw - 4.86vw);
        width: 74.93vw;
      }
      @media screen and (max-device-width: $desktop-size) {
        height: 31.1vw;
        margin-top: -31.1vw;
        margin-left: calc((100vw - 91.49vw) / 2);
        width: 91.49vw;
      }
    }

    #artist-socials-wrapper {
      position: relative;
      z-index: 2;
      @media screen and (min-device-width: $desktop-size) {
        width: 11.04vw;
        height: calc(42.15vw - 20.9vw - 17px);
        margin-top: calc(-42.15vw + 17px);
        margin-left: calc(100vw - 4.86vw - 4.86vw - 11.04vw);
      }
      @media screen and (max-device-width: $desktop-size) {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: calc(100vw - 23.4vw);
        height: 32px;
        margin-top: calc(-32px - 16px);
      }
      #socials-separator {
        height: 4px;
        border: none;
        margin: 0;
        background-color: $gold;
        @media screen and (min-device-width: $desktop-size) {
          width: calc(11.04vw - 32px);
          margin-top: 14px;
          display: inline-block;
          vertical-align: top;
        }
        @media screen and (max-device-width: $desktop-size) {
          width: 40px;
          margin-right: 8px;
        }
      }
      #socials-icons-wrapper {
        @media screen and (min-device-width: $desktop-size) {
          display: inline-block;
          vertical-align: top;
          height: calc(42.15vw - 20.9vw - 17px);
          width: 32px;
        }
        @media screen and (max-device-width: $desktop-size) {
          width: calc(100% - 40px);
          height: 32px;
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        .social-link {
          display: block;

          @media screen and (min-device-width: $desktop-size) {
            margin-bottom: 24px;
            width: 32px;
            height: 32px;
          }
          @media screen and (max-device-width: $desktop-size) {
            margin-right: 4.26vw;
            width: 8.51vw;
            height: 8.51vw;
          }
          &:last-of-type {
            @media screen and (min-device-width: $desktop-size) {
              margin-bottom: 0px;
            }
            @media screen and (max-device-width: $desktop-size) {
              margin-right: 0px;
            }
          }
          .social-icon {
            @media screen and (min-device-width: $desktop-size) {
              width: 32px;
              height: 32px;
            }
            @media screen and (max-device-width: $desktop-size) {
              width: 8.51vw;
              height: 8.51vw;
            }
          }
        }
      }
    }
    #artist-logo-picture {
      position: relative;
      z-index: 2;
      @media screen and (min-device-width: $desktop-size) {
        width: 20.9vw;
        height: 20.9vw;
        margin-left: calc(100vw - 4.86vw - 4.86vw - 20.9vw);
      }
      @media screen and (max-device-width: $desktop-size) {
        width: 23.4vw;
        height: 23.4vw;
        margin-top: calc(16px - 23.4vw);
        margin-left: calc(100vw - 23.4vw);
      }
    }
    #artist-description-wrapper {
      position: relative;
      z-index: 2;

      @media screen and (min-device-width: $desktop-size) {
        width: 20.9vw;
        height: 9.17vw;
        margin-left: calc(43.4vw - 4.86vw);
        margin-top: calc(-9.17vw - 4px - 4.44vw);
      }
      @media screen and (max-device-width: $desktop-size) {
        width: 47.61vw;
        height: 244px;
        margin: 48px 0px 64px 48.14vw;
      }
      #description-separator {
        height: 4px;
        border: none;
        margin: 0;
        background-color: $gold;
        width: 40px;
      }
      #artist-description {
        font-weight: 600;
        width: 100%;
        margin-top: 16px;
        font-size: 1em;
        line-height: 1.56;
        @media screen and (min-device-width: $desktop-size) {
          color: $white;
        }
        @media screen and (max-device-width: $desktop-size) {
          color: $black;
        }
      }
    }
  }
}
