<div id="artist-first-layer">
  <div id="artist-first-inside-layer"></div>
</div>
<div id="artist-second-layer"></div>

<artist-navigation [artist]="artist"></artist-navigation>

<div id="artist-cover">
  <div id="artist-title-wrapper">

  </div>
  <img id="artist-cover-picture" alt="{{artist.name}} cover picture" src="{{artist.cover_picture}}"/>
  <div id="artist-description-wrapper">

  </div>
  <div id="artist-socials-wrapper">

  </div>
  <img id="artist-logo-picture" alt="{{artist.name}} logo picture" src="{{artist.logo_picture}}"/>
</div>
