<div id="artist-first-layer"></div>
<div id="artist-second-layer"></div>
<div id="navigation-wrapper">
  <p id="back-button" (click)="goBackToArtistsList()">
    <img alt="Back arrow" src="assets/icons/back_icon.svg" />
    {{ 'ARTISTS_BACK' | translation }}
  </p>
  <p id="arborescence">
    <span id="arbo-first" (click)="goBackToArtistsList()">
      {{ 'ARTISTS' | translation }}
    </span>
    <span id="arbo-slash">/</span>
    <span id="arbo-second">
      {{ artistInfos.name }}
    </span>
  </p>
  <p id="next-artist-button" (click)="goToNextArtist()">
    {{nextArtist.name | uppercase}}
    <img alt="Next artist arrow" src="assets/icons/next_icon.svg" />
  </p>
</div>
