@import 'src/app/utils/_styleVariables';

@media screen and (min-device-width: $desktop-size) {
}
@media screen and (max-device-width: $desktop-size) {
}

#news-first-layer {
  width: calc(-12.7vw - 2px + 100% - 2px - 12.7vw);
  margin-left: 12.7vw;
  border-left: 2px solid $very-light-grey;
  border-right: 2px solid $very-light-grey;
  #news-second-layer {
    margin-left: 20.625vw;
    width: calc(-20.625vw - 2px + 100%);
    padding-top: 10vw;
    border-left: 2px solid $very-light-grey;
    #news-content-layer {
      margin-left: -2px;
      padding: 6.11vw 6.67vw 6.11vw 22.08vw;
      background-color: $very-light-grey;

      #news-content-title {
        font-weight: 600;
        font-size: 1.77em;
        line-height: 1.25;
        margin-bottom: 1.67vw;
      }

      .news-content-item-title {
        margin-top: 4.44vw;
        font-size: 1.33em;
        font-weight: 600;
        line-height: 1.33;
      }
      .news-content-item-description {
        margin-top: 1.11vw;
        font-size: 1em;
        font-weight: normal;
        line-height: 1.56;
      }
    }
    #facebook-feed-container {
      position: relative;

      #facebook-feed-wrapper {
        margin-top : calc(-6.11vw - 48.4vw - 6.11vw);
        margin-left : calc(-20.625vw - 2px - 12.7vw + 4.86vw);
        position: absolute;
        z-index: 3;
        width: 36.32vw;
        height: 48.4vw;
      }
    }
  }
}
