@import 'src/app/utils/_styleVariables';

#news-first-layer {
  border-left: 2px solid $very-light-grey;
  border-right: 2px solid $very-light-grey;
  @media screen and (min-device-width: $desktop-size) {
    width: calc(-2px + 100% - 2px);
  }
  @media screen and (max-device-width: $desktop-size) {
    width: calc(-12.23vw - 2px + 100% - 2px - 12.23vw);
    margin-left: 12.23vw;
  }
  #news-second-layer {
    border-left: 2px solid $very-light-grey;

    @media screen and (min-device-width: $desktop-size) {
      margin-left: 325px;
      width: calc(-325px - 2px + 100%);
      padding-top: 130px;
    }
    @media screen and (max-device-width: $desktop-size) {
      margin-left: 26.86vw;
      width: calc(-26.86vw - 2px + 100%);
      padding-top: 14.86vw;
    }
    #news-content-layer {
      background-color: $very-light-grey;
      @media screen and (min-device-width: $desktop-size) {
        padding: 96px 105px 96px 325px;
      }
      @media screen and (max-device-width: $desktop-size) {
        margin-left: -2px;
        width: 50vw;
        padding: 14.86vw 6vw 14.86vw 4.26vw;
      }

      #news-content-title {
        font-weight: 600;
        line-height: 1.25;
        @media screen and (min-device-width: $desktop-size) {
          font-size: 32px;
          margin-bottom: 24px;
        }
        @media screen and (max-device-width: $desktop-size) {
          font-size: 1.56em;
        }
      }

      #facebook-feed-container {
        @media screen and (min-device-width: $desktop-size) {
          position: relative;
        }
        #facebook-feed-wrapper {
          @media screen and (min-device-width: $desktop-size) {
            position: absolute;
            margin-top: -265px;
            margin-left: calc(-325px - 325px - 2px);
            width: 500px;
            height: 630px;
          }
          @media screen and (max-device-width: $desktop-size) {
            margin-top: 8.51vw;
            margin-left: calc(-26.86vw - 2px - 12.23vw + 4.26vw);
            width: 84.04vw;
            height: 121.8vw;
          }
        }
      }

      .news-content-item-title {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.33;
        @media screen and (min-device-width: $desktop-size) {
          margin-top: 64px;
        }
        @media screen and (max-device-width: $desktop-size) {
          margin-top: 10.64vw;
        }
      }
      .news-content-item-description {
        font-size: 18px;
        font-weight: normal;
        line-height: 1.56;
        @media screen and (min-device-width: $desktop-size) {
          margin-top: 16px;
        }
        @media screen and (max-device-width: $desktop-size) {
          margin-top: 4.26vw;
        }
      }
    }
  }
}
