@import 'src/app/utils/_styleVariables';

#background-layer {
  border-left: 2px solid $very-light-grey;
  @media screen and (min-device-width: $desktop-size) {
    width: calc(100% - 163px);
    margin-left: 163px;
    border-right: 2px solid $very-light-grey;
  }
  @media screen and (max-device-width: $desktop-size) {
    width: calc(87.77vw - 2px);
    margin-left: 12.23vw;
  }
  #banner-picture-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @media screen and (min-device-width: $desktop-size) {
      margin-left: calc(-163px - 2px);
      width: 1101px;
      height: 734px;
    }
    @media screen and (max-device-width: $desktop-size) {
      margin-left: calc(-12.23vw - 2px);
      width: 100vw;
      height: 75vw;
    }
    #banner-picture {
      @media screen and (min-device-width: $desktop-size) {
        height: 734px;
      }
      @media screen and (max-device-width: $desktop-size) {
        height: 75vw;
      }
    }
  }
  #banner-content {
    position: relative;
    background-color: $very-light-grey;
    @media screen and (min-device-width: $desktop-size) {
      width: 530px;
      margin-left: calc(100% - 72px - 530px - 72px + 2px);
      margin-top: -200px;
      padding: 72px;
    }
    @media screen and (max-device-width: $desktop-size) {
      width: calc(67.55% - 8.51vw - 8.51vw);
      padding: 10.64vw 8.51vw;
      margin-top: -10.64vw;
      left: calc(100% - 67.55% - 12.23vw);
    }
    #banner-page-title {
      line-height: 1.63;
      letter-spacing: 2px;
      font-weight: bold;
      font-size: 16px;
    }
    #banner-title {
      font-weight: normal;
      @media screen and (min-device-width: $desktop-size) {
        font-size: 44px;
        line-height: 1.27;
      }
      @media screen and (max-device-width: $desktop-size) {
        font-size: 1.8em;
        line-height: 1.25;
      }
    }
    #banner-description {
      font-weight: 500;
      line-height: 1.56;
      @media screen and (min-device-width: $desktop-size) {
        margin-top: 16px;
        font-size: 18px;
      }
      @media screen and (max-device-width: $desktop-size) {
        margin-top: 4.26vw;
        font-size: 1em;
      }
    }
  }
}
