@import 'src/app/utils/_styleVariables';

#background-layer {
  border-left: 2px solid $very-light-grey;
  @media screen and (min-device-width: $desktop-size) {
    width: 74.6vw;
    margin-left: 12.7vw;
    border-right: 2px solid $very-light-grey;
  }
  @media screen and (max-device-width: $desktop-size) {
    width: calc(87.77vw - 2px);
    margin-left: 12.23vw;
  }
  #banner-picture-wrapper {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @media screen and (min-device-width: $desktop-size) {
      margin-left: calc(-12.7vw - 2px);
      width: 72vw;
      height: 48vw;
    }
    @media screen and (max-device-width: $desktop-size) {
      margin-left: calc(-12.23vw - 2px);
      width: 100vw;
      height: 75vw;
    }
    #banner-picture {
      @media screen and (min-device-width: $desktop-size) {
        width: 72vw;
        height: 48vw;
      }
      @media screen and (max-device-width: $desktop-size) {
        height: 75vw;
      }
    }
  }
  #banner-content {
    position: relative;
    background-color: $very-light-grey;
    @media screen and (min-device-width: $desktop-size) {
      width: calc(44vw - 80px - 80px);
      margin-left: 30.7vw;
      margin-top: -14.66vw;
      padding: 80px;
    }
    @media screen and (max-device-width: $desktop-size) {
      width: calc(67.55% - 32px - 32px);
      padding: 40px 32px;
      margin-top: -40px;
      left: calc(100% - 67.55% - 12.23vw);
    }
    #banner-page-title {
      font-size: 16px;
      line-height: 1.63;
      letter-spacing: 2px;
      font-weight: bold;
    }
    #banner-title {
      font-weight : normal;
      @media screen and (min-device-width: $desktop-size) {
        font-size: 44px;
        line-height: 1.27;
      }
      @media screen and (max-device-width: $desktop-size) {
        font-size: 32px;
        line-height: 1.25;
      }
    }
    #banner-description {
      margin-top: 16px;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.56;
    }
  }
}
