@import 'src/app/utils/_styleVariables';

$totalHeight: 865px;
:host {
  #description-first-layer {
    background-color: $white;
    border-right: 2px solid $very-light-grey;
    @media screen and (min-device-width: $desktop-size) {
      width: 87.5%;
      height: 683px;
    }
    @media screen and (max-device-width: $desktop-size) {
      width: calc(100vw - 12.23vw - 2px);
    }

    #description-second-layer {
      background-color: $very-light-grey;
      @media screen and (min-device-width: $desktop-size) {
        width: calc(100% - 301px);
        height: calc(683px - 80px);
        padding-top: 80px;
      }
      @media screen and (max-device-width: $desktop-size) {
        width: calc(100% - 50px);
        padding-top: 56px;
      }

      #text-zone {
        @media screen and (min-device-width: $desktop-size) {
          width: 412px;
          margin-left: calc((100vw - 1300px) / 2);
        }
        @media screen and (max-device-width: $desktop-size) and (min-device-width: $tablet-size) {
          width: calc(100% - 32px);
          margin-left: 32px;
        }
        @media screen and (max-device-width: $tablet-size) {
          width: calc(100% - 16px);
          margin-left: 16px;
        }
        #description-title {
          line-height: 1.27;
          font-weight: normal;
          @media screen and (min-device-width: $desktop-size) {
            font-size: 44px;
          }
          @media screen and (max-device-width: $desktop-size) {
            font-size: 32px;
          }
        }
        #products-indicators {
          @media screen and (min-device-width: $desktop-size) {
            margin-top: 32px;
          }
          @media screen and (max-device-width: $desktop-size) {
            margin-top: 24px;
          }
          .products-indicator {
            display: inline-block;
            cursor: pointer;
            color: $black;
            margin-right: 24px;
            font-size: 18px;
            line-height: 1.56;
            user-select: none;
          }
        }
        #product-title {
          font-size: 32px;
          font-weight: 600;
          @media screen and (min-device-width: $desktop-size) {
            margin-top: 56px;
          }
          @media screen and (max-device-width: $desktop-size) {
            margin-top: calc(32px + 56.65vw + 40px);
            height: 40px;
          }
        }
        #product-informations {
          list-style-type: none;
          padding: 0;
          margin: 24px 0 0 0;
          @media screen and (min-device-width: $desktop-size) {
            height: 94px;
            width: 500px;
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
          }
          .product-information {
            font-size: 16px;
            line-height: 1.63;
            @media screen and (min-device-width: $desktop-size) {
              width: 250px;
              margin: 0 0 8px 0;
            }
            @media screen and (max-device-width: $desktop-size) {
              margin: 0 0 8px 0;
            }
            span {
              color: $gold;
              margin-right: 5px;
            }
          }
        }
        #product-colors {
          height: 24px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          @media screen and (min-device-width: $desktop-size) {
            width: 440px;
            margin-top: 50px;
          }
          @media screen and (max-device-width: $desktop-size) and (min-device-width: $tablet-size) {
            width: 59.04vw;
            max-width: 335px;
            margin-top: 40px;
          }
          @media screen and (max-device-width: $tablet-size) {
            width: calc(100% - 10px);
            margin-top: 40px;
          }

          #black-square {
            width: 24px;
            height: 24px;
            background-color: $black;
          }
          #white-square {
            width: 24px;
            height: 24px;
            background-color: $white;
          }
          #gold-separator {
            height: 1px;
            border: none;
            margin: 0;
            background-color: $gold;
            @media screen and (min-device-width: $desktop-size) {
              width: 185px;
            }
            @media screen and (max-device-width: $desktop-size) {
              width: 17vw;
            }
          }
          #color-text {
            font-size: 14px;
          }
        }
        #see-more-button {
          width: 140px;
          height: 40px;
          border: 1px solid $black;
          color: $black;
          background-color: $very-light-grey;
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 2px;
          cursor: pointer;

          @media screen and (min-device-width: $desktop-size) {
            margin-top: 72px;
          }
          @media screen and (max-device-width: $desktop-size) {
            margin-top: 48px;
            margin-bottom: 56px;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
    #product-picture-container {
      @media screen and (min-device-width: $desktop-size) {
        position: relative;
        margin-top: -545px;
        margin-left: calc(100% - 633px);
        width: 634px;
        height: 475px;
      }
      @media screen and (max-device-width: $desktop-size) and (min-device-width: $tablet-size) {
        position: relative;
        margin-top: -1052px;
        margin-left: calc(((100vw - 75.53vw) / 2) - 1px);
        width: 75.53vw;
        height: 213px;
      }
      @media screen and (max-device-width: $tablet-size) {
        position: relative;
        margin-top: -683px;
        margin-left: calc(((100vw - 75.53vw) / 2) - 1px);
        width: 75.53vw;
        height: 213px;
      }

      #product-picture {
        @media screen and (min-device-width: $desktop-size) {
          width: 634px;
          height: 475px;
        }
        @media screen and (max-device-width: $desktop-size) {
          width: 75.53vw;
          height: 56.65vw;
        }
      }
      #page-navigator {
        position: absolute;
        width: 105px;
        height: 52px;
        margin-top: -56px;
        right: -1px;
        background-color: $white;
        display: flex;
        justify-content: space-between;

        .page-button {
          height: 52px;
          width: 52px;
          cursor: pointer;
          background-color: $very-light-grey;
          display: flex;
          align-items: center;
          justify-content: center;
          user-select: none;
          .navigation-arrow {
            width: 14px;
            height: 14px;
          }
        }

        .disabled {
          background-color: $white;
          cursor: default;
        }
      }
    }
  }
}

// Animations part
.hidden {
  animation: fadeOut 300ms linear;
}
.hidden-next {
  animation: fadeOutNext 300ms linear;
}
.hidden-previous {
  animation: fadeOutPrevious 300ms linear;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes fadeOutNext {
  0% {
    opacity: 1;
    margin-left: 0;
  }
  100% {
    opacity: 0;
    margin-left: -16px;
  }
}
@keyframes fadeOutPrevious {
  0% {
    opacity: 1;
    margin-left: 0;
  }
  100% {
    opacity: 0;
    margin-left: 16px;
  }
}

.visible {
  animation: fadeIn 300ms linear;
}
.visible-next {
  animation: fadeInNext 300ms linear;
}
.visible-previous {
  animation: fadeInPrevious 300ms linear;
}
@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInNext {
  0% {
    opacity: 0;
    margin-left: 16px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes fadeInPrevious {
  0% {
    opacity: 0;
    margin-left: -16px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
