@import 'src/app/utils/_styleVariables';

:host {
  #first-layer {
    background-color: $white;
    border-right: 2px solid $very-light-grey;
    @media screen and (min-device-width: $tablet-size) {
      width: 87.5%;
      height: 683px;
    }
    @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
    }
    @media screen and (max-device-width: $mobile-size) {
      width: 87%;
      height: 865px;
    }

    #second-layer {
      background-color: $very-light-grey;
      @media screen and (min-device-width: $tablet-size) {
        width: calc(100% - 301px);
        height: calc(683px - 80px);
        padding-top: 80px;
      }
      @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
      }
      @media screen and (max-device-width: $mobile-size) {
        width: calc(100% - 50px);
        height: calc(865px - 56px);
        padding-top: 56px;
      }

      #text-zone {
        @media screen and (min-device-width: $tablet-size) {
          width: 412px;
          margin-left: calc((100vw - 1300px) / 2);
        }
        @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
        }
        @media screen and (max-device-width: $mobile-size) {
          width: 100%;
          margin-left: 16px;
        }
        #description-title {
          line-height: 1.27;
          font-weight: normal;
          @media screen and (min-device-width: $tablet-size) {
            font-size: 44px;
          }
          @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
          }
          @media screen and (max-device-width: $mobile-size) {
            font-size: 32px;
          }
        }
        #products-indicators {
          @media screen and (min-device-width: $tablet-size) {
            margin-top: 32px;
          }
          @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
          }
          @media screen and (max-device-width: $mobile-size) {
            margin-top: 24px;
          }
          .products-indicator {
            display: inline-block;
            cursor: pointer;
            color: $grey;
            margin-right: 24px;
            font-size: 18px;
            line-height: 1.56;
            user-select: none;
          }
          .selected {
            color: $black;
            font-weight: bold;
            border-bottom: 2px solid $black;
          }
        }
        #product-title {
          @media screen and (min-device-width: $tablet-size) {
            margin-top: 56px;
          }
          @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
          }
          @media screen and (max-device-width: $mobile-size) {
            margin-top: 287px;
          }
          font-size: 32px;
          font-weight: bold;
        }
        #product-informations {
          list-style-type: none;
          padding: 0;
          margin: 24px 0 0 0;
          @media screen and (min-device-width: $tablet-size) {
            height: 94px;
            width: 500px;
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
          }
          @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
          }
          @media screen and (max-device-width: $mobile-size) {
          }
          .product-information {
            font-size: 16px;
            line-height: 1.63;
            @media screen and (min-device-width: $tablet-size) {
              width: 250px;
              margin: 0 0 8px 0;
            }
            @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
            }
            @media screen and (max-device-width: $mobile-size) {
              margin: 0 0 8px 0;
            }
            span {
              color: $gold;
              margin-right: 5px;
            }
          }
        }
        #product-colors {
          height: 24px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          @media screen and (min-device-width: $tablet-size) {
            width: 440px;
            margin-top: 50px;
          }
          @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
          }
          @media screen and (max-device-width: $mobile-size) {
            width: calc(100% - 16px - 40px);
            margin-top: 40px;
          }

          #black-square {
            width: 24px;
            height: 24px;
            background-color: $black;
          }
          #white-square {
            width: 24px;
            height: 24px;
            background-color: $white;
          }
          #gold-separator {
            height: 1px;
            border: none;
            margin: 0;
            background-color: $gold;
            @media screen and (min-device-width: $tablet-size) {
              width: 185px;
            }
            @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
            }
            @media screen and (max-device-width: $mobile-size) {
              width: 72px;
            }
          }
          #color-text {
            font-size: 14px;
          }
        }
        #see-more-button {
          width: 140px;
          height: 40px;
          border: 1px solid $black;
          color: $black;
          background-color: $very-light-grey;
          text-align: center;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 2px;
          cursor: pointer;

          @media screen and (min-device-width: $tablet-size) {
            margin-top: 72px;
          }
          @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
          }
          @media screen and (max-device-width: $mobile-size) {
            margin-top: 48px;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
    #product-picture-container {
      @media screen and (min-device-width: $tablet-size) {
        position: relative;
        margin-top : -545px;
        margin-left : calc(100% - 633px);
        width: 634px;
        height: 475px;
      }
      @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
      }
      @media screen and (max-device-width: $mobile-size) {
        position: relative;
        margin-top : -683px;
        margin-left : calc(100% - 283px);
        width: 284px;
        height: 213px;
      }

      #product-picture {
        @media screen and (min-device-width: $tablet-size) {
          width: 634px;
          height: 475px;
        }
        @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
        }
        @media screen and (max-device-width: $mobile-size) {
          width: 284px;
          height: 213px;
        }
      }
      #page-navigator {
        position: absolute;
        width: 105px;
        height: 52px;
        margin-top : -56px;
        right : -1px;
        background-color: $white;
        display: flex;
        justify-content: space-between;

        .page-button {
          height: 52px;
          width: 52px;
          cursor: pointer;
          background-color: $very-light-grey;
          display: flex;
          align-items: center;
          justify-content: center;
          user-select: none;
          .navigation-arrow {
            width: 14px;
            height: 14px;
          }
        }

        .disabled {
          background-color: $white;
          cursor: default;
        }
      }
    }
  }
}
