@import 'src/app/utils/_styleVariables';

#description-left-layer {
  display: inline-block;
  vertical-align: top;
  border-left: 2px solid $very-light-grey;
  border-right: 2px solid $very-light-grey;
  @media screen and (min-device-width: $desktop-size) {
    width: calc(53.96vw - 4px);
    margin-left: 12.7vw;
  }
  @media screen and (max-device-width: $desktop-size) {
    width: calc(47.34vw - 4px);
    margin-left: 12.23vw;
  }

  #left-content {
    position: relative;
    background-color: $very-light-grey;
    @media screen and (min-device-width: $desktop-size) {
      width: calc(30.83vw - 1px);
      padding-top: 5.56vw;
      padding-bottom: 7.22vw;
    }
    @media screen and (max-device-width: $desktop-size) {
      width: 59.57vw;
      margin-top: 64px;
      padding-top: 40px;
      padding-bottom: 48px;
    }

    #left-pictures-wrapper {
      display: flex;
      justify-content: space-between;
      @media screen and (min-device-width: $desktop-size) {
        height: 20.9vw;
        width: calc(20.9vw + 2.22vw + 20.9vw);
        margin-left: calc((100% - 20.9vw - 2.22vw - 20.9vw) / 2);
      }
      @media screen and (max-device-width: $desktop-size) {
        height: 35.64vw;
        width: calc(35.64vw + 16px + 35.64vw);
        margin-left: calc((100% - 35.64vw - 16px - 35.64vw) / 2);
      }

      .left-picture-wrapper {
        display : flex;
        align-items: center;
        overflow: hidden;
        justify-content: center;
        flex-direction : column;
        @media screen and (min-device-width: $desktop-size) {
          height: 20.9vw;
          width: 20.9vw;
        }
        @media screen and (max-device-width: $desktop-size) {
          height: 35.64vw;
          width: 35.64vw;
        }
        .left-picture {
          @media screen and (min-device-width: $desktop-size) {
            height: 20.9vw;
          }
          @media screen and (max-device-width: $desktop-size) {
            height: 35.64vw;
          }
      }
      }
    }

    #left-description {
      font-size: 1em;
      line-height: 1.56;
      @media screen and (min-device-width: $desktop-size) {
        width: 24.16vw;
        margin-left: calc((100% - 24.16vw) / 2);
        margin-top: 3.89vw;
      }
      @media screen and (max-device-width: $desktop-size) {
        width: 46.8vw;
        margin-left: calc((100% - 46.8vw) / 2);
        margin-top: 32px;
      }
    }
    #left-description-list {
      list-style-type: none;
      padding: 0;
      @media screen and (min-device-width: $desktop-size) {
        margin-top: 1.67vw;
        width: 24.16vw;
        margin-left: calc((100% - 24.16vw) / 2);
      }
      @media screen and (max-device-width: $desktop-size) {
        margin-top: 24px;
        width: 46.8vw;
        margin-left: calc((100% - 46.8vw) / 2);
      }
      li {
        h3 {
          margin: 0;
          display: flex;
          align-items: center;
          font-size: 0.9em;
          font-weight: 600;
          @media screen and (min-device-width: $desktop-size) {
            height: 2.22vw;
            margin-bottom: 1.11vw;
          }
          @media screen and (max-device-width: $desktop-size) {
            height: 32px;
            margin-bottom: 16px;
          }
          span {
            @media screen and (min-device-width: $desktop-size) {
              margin-right: 0.56vw;
            }
            @media screen and (max-device-width: $desktop-size) {
              margin-right: 8px;
            }

            img {
              @media screen and (min-device-width: $desktop-size) {
                height: 2.22vw;
                width: 2.22vw;
              }
              @media screen and (max-device-width: $desktop-size) {
                height: 32px;
                width: 32px;
              }
            }
          }
        }
      }
    }
  }
}
#description-right-layer {
  border-right: 2px solid $very-light-grey;
  display: inline-block;
  vertical-align: top;
  @media screen and (min-device-width: $desktop-size) {
    width: calc(20.9vw - 2px);
    padding-top: calc(80px + (20.9vw / 2));
  }
  @media screen and (max-device-width: $desktop-size) {
    width: calc(100% - 47.4vw - 1px - 12.23vw - 12.23vw);
  }

  #right-separator {
    border: none;
    margin: 0;
    background-color: $gold;
    @media screen and (min-device-width: $desktop-size) {
      height: 0.28vw;
      width: 2.78vw;
      margin-left: calc(100% - 16.46vw);
    }
    @media screen and (max-device-width: $desktop-size) {
      height: 4px;
      width: 10.64vw;
      position: relative;
      margin-left: calc(-12.23vw - 47.4vw + ((100vw - 10.64vw) / 2));
    }
  }

  #right-description {
    font-weight: 600;
    @media screen and (min-device-width: $desktop-size) {
      width: 15.97vw;
      margin-left: calc(100% - 16.46vw);
      margin-top: 0.55vw;
      font-size: 1.33em;
      line-height: 1.33;
    }
    @media screen and (max-device-width: $desktop-size) {
      width: 41.22vw;
      position: relative;
      margin-left: calc(-12.23vw - 47.4vw + ((100vw - 10.64vw) / 2));
      margin-top: 12px;
      font-size: 0.9em;
      line-height: 1.56;
    }
  }
}

#description-bottom-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  @media screen and (min-device-width: $desktop-size) {
    width: 100vw;
    height: 56.25vw;
  }
  @media screen and (max-device-width: $desktop-size) {
    width: 100vw;
    height: 75vw;
  }

  #description-bottom-picture {
    @media screen and (min-device-width: $desktop-size) {
      height : 56.25vw;
    }
    @media screen and (max-device-width: $desktop-size) {
      height: 75vw;
    }
  }
  #bottom-picture-gradient {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.71));
    @media screen and (min-device-width: $desktop-size) {
      margin-top: calc(-24.58vw - 4px);
      height: 24.58vw;
      width: 100vw;
    }
    @media screen and (max-device-width: $desktop-size) {
      margin-top: calc(-43.09vw - 5px);
      height: 43.09vw;
      width: 100vw;
    }
  }
}
#bottom-picture-content {
  position: relative;
  @media screen and (min-device-width: $desktop-size) {
    margin-top: calc(-8.33vw - 9.44vw);
    margin-bottom: 9.44vw;
    height: 8.33vw;
    width: 33.47vw;
  }
  @media screen and (max-device-width: $desktop-size) {
    margin-top: calc(-96px - 48px);
    margin-bottom: 48px;
    height: 96px;
    width: 55.31vw;
  }
  #bottom-picture-separator {
    display: inline-block;
    vertical-align: top;
    border: none;
    margin: 0;
    background-color: $gold;
    @media screen and (min-device-width: $desktop-size) {
      height: 0.28vw;
      width: 18.05vw;
      margin-top: 1.39vw;
      margin-right: 2.22vw;
    }
    @media screen and (max-device-width: $desktop-size) {
      height: 3px;
      width: 7.97vw;
      margin-top: 12px;
      margin-right: 4.26vw;
    }
  }
  #bottom-picture-description {
    display: inline-block;
    vertical-align: top;
    color: $white;
    font-weight: 600;

    @media screen and (min-device-width: $desktop-size) {
      width: calc(33.47vw - 18.05vw - 2.22vw);
      font-size: 2em;
      line-height: 1.25;
    }
    @media screen and (max-device-width: $desktop-size) {
      width: calc(55.31vw - 7.97vw - 4.26vw);
      font-size: 1.33em;
      line-height: 1.33;
    }
  }
}
