@import 'src/app/utils/_styleVariables';

:host {
  @media screen and (min-device-width: $tablet-size) {
  }
  @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
  }
  @media screen and (max-device-width: $mobile-size) {
  }
  #description-left-layer {
    display: inline-block;
    vertical-align: top;
    border-left: 2px solid $very-light-grey;
    border-right: 2px solid $very-light-grey;
    @media screen and (min-device-width: $tablet-size) {
      width: calc(53.96vw - 4px);
      margin-left: 12.7vw;
    }
    @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
    }
    @media screen and (max-device-width: $mobile-size) {
      width: calc(47.34vw - 4px);
      margin-left: 12.23vw;
    }

    #left-content {
      position: relative;
      background-color: $very-light-grey;
      @media screen and (min-device-width: $tablet-size) {
        width: calc(30.83vw - 1px);
        padding-top: 80px;
        padding-bottom: 104px;
      }
      @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
      }
      @media screen and (max-device-width: $mobile-size) {
        width: 59.57vw;
        margin-top: 64px;
        padding-top: 40px;
        padding-bottom: 48px;
      }

      #left-pictures-wrapper {
        display: flex;
        justify-content: space-between;
        @media screen and (min-device-width: $tablet-size) {
          height: 20.9vw;
          width: calc(20.9vw + 32px + 20.9vw);
          margin-left: calc((100% - 20.9vw - 32px - 20.9vw) / 2);
        }
        @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
        }
        @media screen and (max-device-width: $mobile-size) {
          height: 35.64vw;
          width: calc(35.64vw + 16px + 35.64vw);
          margin-left: calc((100% - 35.64vw - 16px - 35.64vw) / 2);
        }

        .left-picture {
          @media screen and (min-device-width: $tablet-size) {
            height: 20.9vw;
            width: 20.9vw;
          }
          @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
          }
          @media screen and (max-device-width: $mobile-size) {
            height: 35.64vw;
            width: 35.64vw;
          }
        }
      }

      #left-description {
        font-size: 18px;
        line-height: 1.56;
        @media screen and (min-device-width: $tablet-size) {
          width: 24.16vw;
          margin-left: calc((100% - 24.16vw) / 2);
          margin-top: 56px;
        }
        @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
        }
        @media screen and (max-device-width: $mobile-size) {
          width: 46.8vw;
          margin-left: calc((100% - 46.8vw) / 2);
          margin-top: 32px;
        }
      }
      #left-description-list {
        list-style-type: none;
        margin-top: 24px;
        padding: 0;
        @media screen and (min-device-width: $tablet-size) {
          width: 24.16vw;
          margin-left: calc((100% - 24.16vw) / 2);
        }
        @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
        }
        @media screen and (max-device-width: $mobile-size) {
          width: 46.8vw;
          margin-left: calc((100% - 46.8vw) / 2);
        }
        li {
          margin: 0;
          height: 32px;
          display: flex;
          align-items: center;
          margin-bottom: 16px;
          font-size: 16px;
          font-weight: bold;
          span {
            margin-right: 8px;
            img {
              width: 32px;
              height: 32px;
            }
          }
        }
      }
    }
  }
  #description-right-layer {
    border-right: 2px solid $very-light-grey;
    display: inline-block;
    vertical-align: top;
    @media screen and (min-device-width: $tablet-size) {
      width: calc(20.9vw - 2px);
      padding-top: calc(80px + (20.9vw / 2));
    }
    @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
    }
    @media screen and (max-device-width: $mobile-size) {
      width: calc(100% - 47.4vw - 1px - 12.23vw - 12.23vw);
    }

    #right-separator {
      height: 4px;
      border: none;
      margin: 0;
      background-color: $gold;
      @media screen and (min-device-width: $tablet-size) {
        width: 2.78vw;
        margin-left: calc(100% - 237px);
      }
      @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
      }
      @media screen and (max-device-width: $mobile-size) {
        width: 10.64vw;
        position: relative;
        margin-left: calc(-12.23vw - 47.4vw + ((100vw - 10.64vw) / 2));
      }
    }

    #right-description {
      @media screen and (min-device-width: $tablet-size) {
        width: 230px;
        margin-left: calc(100% - 237px);
        margin-top: 8px;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.33;
      }
      @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
      }
      @media screen and (max-device-width: $mobile-size) {
        width: 41.22vw;
        position: relative;
        margin-left: calc(-12.23vw - 47.4vw + ((100vw - 10.64vw) / 2));
        margin-top: 12px;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.56;
      }
    }
  }

  #description-bottom-wrapper {
    @media screen and (min-device-width: $tablet-size) {
      width: 100vw;
      height: 56.25vw;
    }
    @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
    }
    @media screen and (max-device-width: $mobile-size) {
      width: 100vw;
      height: 75vw;
      overflow: hidden;
    }

    #description-bottom-picture {
      width: 100vw;
    }
    #bottom-picture-overlay {
      position: relative;
      background-color: black;
      opacity: 0.5;
      @media screen and (min-device-width: $tablet-size) {
        margin-top: calc(-120px - 9.44vw - 32px);
        height: 120px;
        width: 29.72vw;
        padding: 32px 16px 32px 0px;
      }
      @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
      }
      @media screen and (max-device-width: $mobile-size) {
        margin-top: calc(-96px - 10.76vw - 8px);
        height: 96px;
        width: 44.31vw;
        padding: 8px 16px 8px 0px;
      }
    }
    #bottom-picture-content {
      position: relative;

      @media screen and (min-device-width: $tablet-size) {
        margin-top: -152px;
        height: 120px;
        width: 29.72vw;
      }
      @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
      }
      @media screen and (max-device-width: $mobile-size) {
        margin-top : -104px;
        height : 96px;
        width : 44.08vw
      }
      #bottom-picture-separator {
        display: inline-block;
        vertical-align: top;
        border: none;
        margin: 0;
        background-color: $gold;
        @media screen and (min-device-width: $tablet-size) {
          height: 4px;
          width: calc(18.05vw - 16px);
          margin-top: 20px;
          margin-right: 16px;
        }
        @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
        }
        @media screen and (max-device-width: $mobile-size) {
          height : 3px;
          width: calc(8.98vw - 12px);
          margin-top: 12px;
          margin-right: 12px;
        }
      }
      #bottom-picture-description {
        display: inline-block;
        vertical-align: top;
        font-weight: bold;
        color: $white;

        @media screen and (min-device-width: $tablet-size) {
          width: calc(29.72vw - 18.05vw);
          font-size: 32px;
          line-height: 1.25;
        }
        @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
        }
        @media screen and (max-device-width: $mobile-size) {
          width: calc(43.08vw - 7.98vw);
          font-size: 24px;
          line-height: 1.33;
        }
      }
    }
  }
}
