@import "../utils/_styleVariables";

#responsive{
  @media screen and (min-device-width: $mobile-size) {

  }
  @media screen and (max-device-width: $mobile-size) {

  }
}

#contact-content{
  display : block;
  margin : 4% auto 0 auto;
  text-align: center;
  width : 90%;
}