@import 'src/app/utils/_styleVariables';

:host {
  width: 100%;
  height: 751px;
  display: block;

  #banner-image-container {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 751px;
    overflow-y: hidden;
    #banner-image {
      width: 100%;
      // change margin to recenter image in container
      margin: 0;
    }
  }
  #content-over-image {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 751px;
    display : flex;
    align-items: flex-end;

    #text-container{
        width : 412px;
        text-align : center;
        display : block;
        margin : 0 auto 216px auto;
        color : $white;
        #text-title{
            font-size : 16px;
            font-weight : bold;
            letter-spacing : 2px;
        }
        #text-subtitle{
            margin-top : 10px;
            font-size : 44px;
            line-height : 1.27;
            font-weight : normal;
        }
        #text-description{
            margin-top : 15px;
            font-size : 18px;
            font-weight : 500;
            line-height: 1.56;
        }
    }

    #page-navigator{
        position : absolute;
        width : 301px;
        height : 150px;
        right : 12.5%;
        background-color : $white;
        display : flex;
        justify-content: space-between;

        .page-button{
            height : 150px;
            width : 150px;
            cursor : pointer;
            background-color : $light-grey;
            display : flex;
            align-items: center;
            justify-content: center;
            user-select : none;
            .navigation-arrow{
                width : 40px;
                height : 40px;
            }
        }

        .disabled {
            background-color : $white;
            cursor : default;
        }
    }
  }
}
