<form id="contact-form" [formGroup]="contactFormGroup" (ngSubmit)="submitContactForm()">
  <div id="name-field" class="contact-form-field">
    <label for="name-input">
      Name:
    </label>
    <input id="name-input" type="text" formControlName="name" />
  </div>

  <div id="address-field" class="contact-form-field">
    <label for="address-input">
      E-mail address:
    </label>
    <input id="address-input" type="email" formControlName="address" />
  </div>

  <div id="subject-field" class="contact-form-field">
    <label for="subject-input">
      Subject:
    </label>
    <input id="subject-input" type="text" formControlName="subject" />
  </div>

  <div id="body-field" class="contact-form-field">
    <label for="body-input">
      Body:
    </label>
    <textarea id="body-input" type="text" formControlName="body" ></textarea>
  </div>

  <div id="captcha-field" class="contact-form-field">
    <ngx-recaptcha2
      #captchaElem
      [siteKey]="recaptchaToken"
      [useGlobalDomain]="false"
      [theme]="'dark'"
      [type]="'image'"
      formControlName="recaptcha"
    >
    </ngx-recaptcha2>
  </div>

  <button [disabled]="!contactFormGroup.valid">Send</button>
</form>
