@import 'src/app/utils/_styleVariables';

#preview-image-wrapper {
  overflow: hidden;
  @media screen and (min-device-width: $desktop-size) {
    height: 20.9vw;
    width: 20.9vw;
  }
  @media screen and (max-device-width: $desktop-size) and (min-device-width: $tablet-size) {
    height: 57.5vw;
    width: 57.5vw;
  }
  @media screen and (max-device-width: $tablet-size) {
    height: 67.5vw;
    width: 67.5vw;
  }
  .preview-picture {
    @media screen and (min-device-width: $desktop-size) {
      height: 20.9vw;
      width: 20.9vw;
    }
    @media screen and (max-device-width: $desktop-size) and (min-device-width: $tablet-size) {
      height: 57.5vw;
      width: 57.5vw;
    }
    @media screen and (max-device-width: $tablet-size) {
      height: 67.5vw;
      width: 67.5vw;
    }
  }
  .blurred {
    filter: blur(5px);
  }
  .details-overlay {
    position: relative;
    @media screen and (min-device-width: $desktop-size) {
      height: 20.9vw;
      width: 20.9vw;
      margin-top: calc(-20.9vw - 4px);
    }
    @media screen and (max-device-width: $desktop-size) and (min-device-width: $tablet-size) {
      height: 57.5vw;
      width: 57.5vw;
      margin-top: calc(-57.5vw - 4px);
    }
    @media screen and (max-device-width: $tablet-size) {
      height: 67.5vw;
      width: 67.5vw;
      margin-top: calc(-67.5vw - 4px);
    }
    .overlay {
      opacity: 0.6;
      background-color: $black;
      @media screen and (min-device-width: $desktop-size) {
        height: 20.9vw;
        width: 20.9vw;
      }
      @media screen and (max-device-width: $desktop-size) and (min-device-width: $tablet-size) {
        height: 57.5vw;
        width: 57.5vw;
      }
      @media screen and (max-device-width: $tablet-size) {
        height: 67.5vw;
        width: 67.5vw;
      }
    }
    .description {
      color: $white;
      position: relative;
      user-select: none;
      @media screen and (min-device-width: $desktop-size) {
        height: 20.9vw;
        width: 20.9vw;
        margin-top: calc(-20.9vw - 4px);
      }
      @media screen and (max-device-width: $desktop-size) and (min-device-width: $tablet-size) {
        height: 57.5vw;
        width: 57.5vw;
        margin-top: calc(-57.5vw - 4px);
      }
      @media screen and (max-device-width: $tablet-size) {
        height: 67.5vw;
        width: 67.5vw;
        margin-top: calc(-67.5vw - 4px);
      }
      .description-title {
        margin-left: 32px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 2px;
        @media screen and (min-device-width: $desktop-size) {
          margin-top: 7.57vw;
          margin-bottom: 3px;
        }
        @media screen and (max-device-width: $desktop-size) and (min-device-width: $tablet-size) {
          margin-top: 20vw;          
          font-size: 1.3em;
          margin-bottom: 5px;
        }
        @media screen and (max-device-width: $tablet-size) {
          margin-top: 18vw;
          margin-bottom: 5px;
        }
      }
      .description-color {
        margin-left: 32px;
        height: 32px;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.33;
        @media screen and (max-device-width: $desktop-size) and (min-device-width: $tablet-size) {
          margin-top : 8px;
          font-size: 2em;
        }
      }
      .sold-out-banner {
        width: 100%;
        text-align: center;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        font-weight: 600;
        background-color: $black;
        color: $gold;
        @media screen and (min-device-width: $desktop-size) {
          margin-top: 40px;
        }
        @media screen and (max-device-width: $desktop-size) and (min-device-width: $tablet-size) {
          height: 10vw;
          line-height: 10vw;
          margin-top: 9vw;
          font-size: 1.8em;
        }
        @media screen and (max-device-width: $tablet-size) {
          height: 10vw;
          line-height: 10vw;
          font-size: 0.8em;
          margin-top: 9vw;
        }
      }
    }
  }
}
