@import 'src/app/utils/_styleVariables';

:host {
  #preview-first-layer {
    border-left: 2px solid $very-light-grey;
    border-right: 2px solid $very-light-grey;
    @media screen and (min-device-width: $desktop-size) {
      width: calc(100% - 163px - 163px - 2px);
      margin-left: 163px;
      height: calc(94px + 272px + 63px + 135px + 94px);
    }
    @media screen and (max-device-width: $desktop-size) {
      width: calc(100vw - 12.23vw - 2px - 12.23vw - 2px);
      margin-left: 12.23vw;
      height: calc(17.02vw + 67.5vw + 6.38vw + 67.5vw + 6.38vw + 67.5vw + 10.64vw + 13.83vw + 27.66vw);
    }
  }

  #page-navigator-container {
    border-right: 2px solid $very-light-grey;
    @media screen and (min-device-width: $desktop-size) {
      width: 268px;
      height: calc(94px + 272px + 63px + 135px + 94px);
    }
    @media screen and (max-device-width: $desktop-size) {
      width: 27.13vw;
      height: calc(17.02vw + 67.5vw + 6.38vw + 67.5vw + 6.38vw + 67.5vw + 10.64vw + 13.83vw);
    }
    #product-title-wrapper {
      position: relative;
      #product-title-preview {
        font-weight: bold;
        transform: rotate(90deg);
        position: absolute;
        @media screen and (min-device-width: $desktop-size) {
          font-size: 18px;
          letter-spacing: 2px;
          width: 108px;
          margin-left: -41px;
          margin-top: 136px;
        }
        @media screen and (max-device-width: $desktop-size) {
          font-size: 1em;
          letter-spacing: 0.11em;
          width: 31.91vw;
          margin-top: 29.52vw;
          margin-left: -12.5vw;
        }
      }
    }
    #page-navigator-wrapper {
      position: relative;
      #page-navigator-preview {
        position: absolute;
        background-color: $grey;
        display: flex;
        justify-content: space-between;
        @media screen and (min-device-width: $desktop-size) {
          margin-top: calc(94px + 272px + 63px);
          margin-left: -2px;
          width: 272px;
          height: 135px;
        }
        @media screen and (max-device-width: $desktop-size) {
          margin-top: calc(17.02vw + 67.5vw + 6.38vw + 67.5vw + 6.38vw + 67.5vw + 10.64vw);
          margin-left: -0.53vw;
          width: 27.93vw;
          height: 13.83vw;
        }
      }
      .page-button {
        cursor: pointer;
        background-color: $dark-grey;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;

        @media screen and (min-device-width: $desktop-size) {
          height: 135px;
          width: 135px;
        }
        @media screen and (max-device-width: $desktop-size) {
          height: 13.83vw;
          width: 13.83vw;
        }
        .navigation-arrow {
          @media screen and (min-device-width: $desktop-size) {
            width: 36px;
            height: 36px;
          }
          @media screen and (max-device-width: $desktop-size) {
            height: 3.72vw;
            width: 3.72vw;
          }
        }
      }

      .disabled {
        background-color: $grey;
        cursor: default;
      }
    }
  }

  #preview-second-layer {
    position: relative;
    background-color: $very-light-grey;
    @media screen and (min-device-width: $desktop-size) {
      width: 372px;
      height: calc(94px + 272px + 63px + 135px);
      margin-top: calc(-94px - 272px - 63px - 135px - 94px);
      margin-left: calc(975px - 272px - 2px);
    }
    @media screen and (max-device-width: $desktop-size) {
      width: calc(12.23vw + 2px + 13.3vw);
      height: calc(17.02vw + 67.5vw + 6.38vw + 67.5vw + 6.38vw + 67.5vw + 10.64vw + 13.83vw);
      margin-top: calc(-17.02vw - 67.5vw - 6.38vw - 67.5vw - 6.38vw - 67.5vw - 10.64vw - 13.83vw);
      left: calc(100vw - 12.23vw - 2px - 13.3vw - 12.23vw - 2px);
    }
  }
  #previews {
    position: relative;
    display: flex;
    justify-content: space-between;
    @media screen and (min-device-width: $desktop-size) {
      width: calc(272px + 29px + 272px + 29px + 272px);
      height: 272px;
      margin-top: calc(-272px - 63px - 135px);
      margin-left: calc(975px - 272px - 2px + 372px - 272px - 29px - 272px - 29px - 272px);
    }
    @media screen and (max-device-width: $desktop-size) {
      width: 67.5vw;
      height: calc(67.5vw + 6.38vw + 67.5vw + 6.38vw + 67.5vw);
      margin-top: calc(-67.5vw - 6.38vw - 67.5vw - 6.38vw - 67.5vw - 10.64vw - 13.83vw);
      margin-left: calc(100vw - 12.23vw - 2px - 67.5vw - 4.26vw);
      flex-direction: column;
    }
  }
}

// Animations part
.hidden {
  animation: fadeOut 300ms linear;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: initial;
  }
  100% {
    opacity: 0.2;
    visibility: hidden;
  }
}

.visible {
  animation: fadeIn 300ms linear;
}
@keyframes fadeIn {
  0% {
    opacity: 0.2;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: initial;
  }
}
