@import 'src/app/utils/_styleVariables';

:host {
  #preview-first-layer {
    border-left: 2px solid $very-light-grey;
    border-right: 2px solid $very-light-grey;
    @media screen and (min-device-width: $desktop-size) {
      width: calc(75vw - 2px);
      margin-left: 12.5vw;
      height: calc(104px + 20.9vw + 70px + 150px);
    }
    @media screen and (max-device-width: $desktop-size) and (min-device-width: $tablet-size) {
      width: calc(100vw - 12.23vw - 2px - 12.23vw - 2px);
      margin-left: 12.23vw;
      height: calc(64px + 57.5vw + 24px + 57.5vw + 24px + 57.5vw + 40px + 52px + 104px);
    }
    @media screen and (max-device-width: $tablet-size) {
      width: calc(100vw - 12.23vw - 2px - 12.23vw - 2px);
      margin-left: 12.23vw;
      height: calc(64px + 67.5vw + 24px + 67.5vw + 24px + 67.5vw + 40px + 52px + 104px);
    }
  }

  #page-navigator-container {
    border-right: 2px solid $very-light-grey;
    @media screen and (min-device-width: $desktop-size) {
      width: 297px;
      height: calc(104px + 20.9vw + 70px + 150px);
    }
    @media screen and (max-device-width: $desktop-size) and (min-device-width: $tablet-size) {
      width: 102px;
      height: calc(64px + 57.5vw + 24px + 57.5vw + 24px + 57.5vw + 40px + 52px);
    }
    @media screen and (max-device-width: $tablet-size) {
      width: 102px;
      height: calc(64px + 67.5vw + 24px + 67.5vw + 24px + 67.5vw + 40px + 52px);
    }
    #product-title-wrapper {
      position: relative;
      #product-title {
        width: 120px;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 2px;
        transform: rotate(90deg);
        position: absolute;
        @media screen and (min-device-width: $desktop-size) {
          margin-left: -45px;
          margin-top: 151px;
        }
        @media screen and (max-device-width: $desktop-size) {
          margin-top: 111px;
          margin-left: -47px;
        }
      }
    }
    #page-navigator-wrapper {
      position: relative;
      #page-navigator {
        position: absolute;
        background-color: $grey;
        display: flex;
        justify-content: space-between;
        @media screen and (min-device-width: $desktop-size) {
          margin-top: calc(104px + 20.9vw + 70px);
          margin-left: -2px;
          width: 301px;
          height: 150px;
        }
        @media screen and (max-device-width: $desktop-size) and (min-device-width: $tablet-size) {
          margin-top: calc(64px + 57.5vw + 24px + 57.5vw + 24px + 57.5vw + 40px);
          margin-left: -2px;
          width: 105px;
          height: 52px;
        }
        @media screen and (max-device-width: $tablet-size) {
          margin-top: calc(64px + 67.5vw + 24px + 67.5vw + 24px + 67.5vw + 40px);
          margin-left: -2px;
          width: 105px;
          height: 52px;
        }
      }
      .page-button {
        cursor: pointer;
        background-color: $dark-grey;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;

        @media screen and (min-device-width: $desktop-size) {
          height: 150px;
          width: 150px;
        }
        @media screen and (max-device-width: $desktop-size) {
          height: 52px;
          width: 52px;
        }
        .navigation-arrow {
          @media screen and (min-device-width: $desktop-size) {
            width: 40px;
            height: 40px;
          }
          @media screen and (max-device-width: $desktop-size) {
            height: 14px;
            width: 14px;
          }
        }
      }

      .disabled {
        background-color: $grey;
        cursor: default;
      }
    }
  }

  #preview-second-layer {
    position: relative;
    background-color: $very-light-grey;
    @media screen and (min-device-width: $desktop-size) {
      width: 412px;
      height: calc(104px + 20.9vw + 70px + 150px);
      margin-top: calc(-104px - 20.9vw - 70px - 150px);
      margin-left: calc(75vw - 301px - 2px);
    }
    @media screen and (max-device-width: $desktop-size) and (min-device-width: $tablet-size) {
      width: calc(12.23vw + 2px + 50px);
      height: calc(64px + 57.5vw + 24px + 57.5vw + 24px + 57.5vw + 40px + 52px);
      margin-top: calc(-64px - 57.5vw - 24px - 57.5vw - 24px - 57.5vw - 40px - 52px);
      left: calc(100vw - 12.23vw - 2px - 50px - 12.23vw - 2px);
    }
    @media screen and (max-device-width: $tablet-size) {
      width: calc(12.23vw + 2px + 50px);
      height: calc(64px + 67.5vw + 24px + 67.5vw + 24px + 67.5vw + 40px + 52px);
      margin-top: calc(-64px - 67.5vw - 24px - 67.5vw - 24px - 67.5vw - 40px - 52px);
      left: calc(100vw - 12.23vw - 2px - 50px - 12.23vw - 2px);
    }
  }
  #previews {
    position: relative;
    display: flex;
    justify-content: space-between;
    @media screen and (min-device-width: $desktop-size) {
      width: calc(20.9vw + 32px + 20.9vw + 32px + 20.9vw);
      height: 20.9vw;
      margin-top: calc(-20.9vw - 70px - 150px);
      margin-left: calc(75vw - 301px - 2px + 412px - 20.9vw - 32px - 20.9vw - 32px - 20.9vw);
    }
    @media screen and (max-device-width: $desktop-size) and (min-device-width: $tablet-size) {
      width: 57.5vw;
      height: calc(57.5vw + 24px + 57.5vw + 24px + 57.5vw);
      margin-top: calc(-57.5vw - 24px - 57.5vw - 24px - 57.5vw - 40px - 52px);
      margin-left: calc(100vw - 12.23vw - 2px - 57.5vw - 12.23vw);
      flex-direction: column;
    }
    @media screen and (max-device-width: $tablet-size) {
      width: 67.5vw;
      height: calc(67.5vw + 24px + 67.5vw + 24px + 67.5vw);
      margin-top: calc(-67.5vw - 24px - 67.5vw - 24px - 67.5vw - 40px - 52px);
      margin-left: calc(100vw - 12.23vw - 2px - 67.5vw - 16px);
      flex-direction: column;
    }
  }
}

// Animations part
.hidden {
  animation: fadeOut 300ms linear;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: initial;
  }
  100% {
    opacity: 0.2;
    visibility: hidden;
  }
}

.visible {
  animation: fadeIn 300ms linear;
}
@keyframes fadeIn {
  0% {
    opacity: 0.2;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: initial;
  }
}
