<div id="first-layer">
  <div id="page-navigator-container">
    <p id="product-title">{{ currentProduct.title | translation }}</p>
    <div id="page-navigator" *ngIf="!isMobile">
      <div class="page-button" [ngClass]="{ disabled: isDisabled('previous') }" (click)="goToPreviousPage()">
        <img class="navigation-arrow" alt="Previous Arrow" src="assets/icons/merch_arrow_left_white.svg" />
      </div>
      <div class="page-button" [ngClass]="{ disabled: isDisabled('next') }" (click)="goToNextPage()">
        <img class="navigation-arrow" alt="Next Arrow" src="assets/icons/merch_arrow_right_white.svg" />
      </div>
    </div>
  </div>
  <div id="second-layer"></div>
  <div id="previews">
    <div *ngFor="let decli of currentProduct.declinations" class="preview">
      <img
        class="preview-picture"
        alt="{{ currentProduct.title | translation }} preview {{ currentProduct.declinations.indexOf(decli) + 1 }}"
        [src]="decli.picture"
      />
      <div class="details-overlay">
        <div class="overlay"></div>
        <div class="description">
          <p class="description-title">{{ currentProduct.title | translation }}</p>
          <p class="description-color">{{ decli.mainColor | translation }}</p>
          <p class="description-color">{{ decli.logoColor | translation }}</p>
          <p class="sold-out-banner">{{ 'MERCH_COMING_SOON' | translation }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
