<div id="first-layer">
  <div id="page-navigator-container">
    <p id="product-title">{{ currentProduct.title | translation }}</p>
    <div id="page-navigator" *ngIf="!isMobile">
      <div class="page-button" [ngClass]="{ disabled: isDisabled('previous') }" (click)="goToPreviousPage()">
        <img class="navigation-arrow" alt="Previous Arrow" src="assets/icons/merch_arrow_left_white.svg" />
      </div>
      <div class="page-button" [ngClass]="{ disabled: isDisabled('next') }" (click)="goToNextPage()">
        <img class="navigation-arrow" alt="Next Arrow" src="assets/icons/merch_arrow_right_white.svg" />
      </div>
    </div>
  </div>
  <div id="second-layer"></div>
  <div id="previews">
    <merch-preview-image *ngFor="let decli of currentProduct.declinations" [declination]="decli" [currentProduct]="currentProduct"></merch-preview-image>
  </div>
</div>
