<div id="staff-card-wrapper">
  <h3
    id="member-name"
    (mouseover)="displayQuote($event, true)"
    (mouseleave)="displayQuote($event, false)"
    (click)="displayQuote($event)"
  >
    {{ member.name }}
  </h3>
  <div
    id="member-picture-wrapper"
    (mouseover)="displayQuote($event, true)"
    (mouseleave)="displayQuote($event, false)"
    (click)="displayQuote($event)"
  >
    <img
      id="member-picture"
      alt="{{ member.name }}\'s picture"
      src="{{ member.picture }}"
      [ngClass]="{ blurred: quoteIsDisplayed }"
    />
    <div id="member-picture-gradient"></div>
    <div id="quote-overlay" *ngIf="quoteIsDisplayed" [@quote-fade]>
      <div id="overlay"></div>
      <div id="quote-container">
        <h4 id="quote">{{ member.quote }}</h4>
        <h4 id="quote-author">
          <span><hr id="author-separator"/></span>{{ member.quoteAuthor }}
        </h4>
      </div>
    </div>
  </div>
  <div id="roles-wrapper">
    <h4 id="member-main-role">{{ member.mainRole | translation | uppercase }}</h4>
    <p id="but-also-separator">{{ 'LABEL_BUT_ALSO' | translation }}</p>
    <h5 *ngFor="let role of member.otherRoles" class="additional-role">{{ role | translation }}</h5>
  </div>
</div>
