<div
  id="staff-card-wrapper"
  (mouseover)="displayQuote($event, true)"
  (mouseleave)="displayQuote($event, false)"
  (click)="displayQuote($event)"
>
  <h1 id="member-name">
    {{ member.name }}
  </h1>
  <div id="member-picture-wrapper">
    <img
      id="member-picture"
      alt="{{ member.name }}\'s picture"
      src="{{ member.picture }}"
      [ngClass]="{ blurred: quoteIsDisplayed }"
    />
    <div id="quote-overlay" *ngIf="quoteIsDisplayed" [@quote-fade]>
      <div id="overlay"></div>
      <div id="quote-container">
        <p id="quote">{{ member.quote }}</p>
        <p id="quote-author">
          <span><hr id="author-separator"/></span>{{ member.quoteAuthor }}
        </p>
      </div>
    </div>
  </div>
  <div id="roles-wrapper">
    <h1 id="member-main-role">{{ member.mainRole | translation | uppercase }}</h1>
    <p id="but-also-separator">{{ 'LABEL_BUT_ALSO' | translation }}</p>
    <h2 *ngFor="let role of member.otherRoles" class="additional-role">{{ role | translation }}</h2>
  </div>
</div>
