@import 'src/app/utils/_styleVariables';

:host {
  @media screen and (min-device-width: $tablet-size) {
  }
  @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
  }
  @media screen and (max-device-width: $mobile-size) {
  }
  #staff-card-container{
    outline : 1px solid red;
    width : 28.61vw;
    height : calc(12px + 21.46vw + 167px);
  }
}
