@import 'src/app/utils/_styleVariables';

:host {
  width: 100%;
  height: 21.28vw;
  border-bottom: 1px solid $light-grey;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: $white;
  z-index: 1;

  #burger-button {
    width: 14.89vw;
    #burger-button-icon {
      margin-left: 4.25vw;
      height : 10.64vw;
      width : 10.64vw;
    }
  }

  #header-logo-container {
    margin-left: calc(((100% - 32.98vw) / 2) - 14.89vw);

    #header-logo {
      width: 32.98vw;
      height: 12.77vw;
      text-align: center;
      #header-logo-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 9.31vw;
      }
      #header-logo-typo {
        font-family: Kano;
        font-weight: normal;
        letter-spacing: 0.249em;
        font-size: 0.44em;
        user-select: none;
        display: block;
        margin-top: 1.33vw;
        height: 2.39vw;
        line-height: 1.4;
      }
    }
  }
}
