@import 'src/app/utils/_styleVariables';

:host {
  width: 100%;
  border-bottom: 1px solid $light-grey;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: $white;
  z-index: 1;
  @media screen and (min-device-width: $desktop-size) {
    height: 10.64vw;
  }
  @media screen and (max-device-width: $desktop-size) {
    height: 21.28vw;
  }

  #burger-button {
    @media screen and (min-device-width: $desktop-size) {
      width: 7.445vw;
    }
    @media screen and (max-device-width: $desktop-size) {
      width: 14.89vw;
    }
    #burger-button-icon {
      @media screen and (min-device-width: $desktop-size) {
        margin-left: 2.125vw;
        height: 5.32vw;
        width: 5.32vw;
      }
      @media screen and (max-device-width: $desktop-size) {
        margin-left: 4.25vw;
        height: 10.64vw;
        width: 10.64vw;
      }
    }
  }

  #header-logo-container {
    @media screen and (min-device-width: $desktop-size) {
      margin-left: calc(((100% - 16.49vw) / 2) - 7.445vw);
    }
    @media screen and (max-device-width: $desktop-size) {
      margin-left: calc(((100% - 32.98vw) / 2) - 14.89vw);
    }

    #header-logo {
      text-align: center;
      @media screen and (min-device-width: $desktop-size) {
        width: 16.49vw;
        height: 6.385vw;
      }
      @media screen and (max-device-width: $desktop-size) {
        width: 32.98vw;
        height: 12.77vw;
        backface-visibility: hidden;
      }
      #header-logo-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        @media screen and (min-device-width: $desktop-size) {
          height: 4.655vw;
        }
        @media screen and (max-device-width: $desktop-size) {
          backface-visibility: hidden;
          height: 9.31vw;
        }
      }
      #header-logo-typo {
        font-family: Kano;
        font-weight: normal;
        user-select: none;
        display: block;
        line-height: 1.4;
        @media screen and (min-device-width: $desktop-size) {
          letter-spacing: 0.1245em;
          font-size: 0.88em;
          margin-top: 0.665vw;
          height: 1.195vw;
        }
        @media screen and (max-device-width: $desktop-size) {
          letter-spacing: 0.249em;
          font-size: 0.44em;
          margin-top: 1.33vw;
          height: 2.39vw;
          backface-visibility: hidden;
          -webkit-font-smoothing: antialiased ;
        }
      }
    }
  }
}
