@import 'src/app/utils/_styleVariables';

#header-container{
  width : 100%;
  height : 80px;
  border-bottom : 1px solid $light-grey;
  display : flex;
  align-items: center;
  position : fixed;
  background-color : $white;
  z-index : 1;

  #burger-button{
    width : 56px;
    #burger-button-icon{
      margin-left : 16px; 
    }
  }

  #header-logo-container{
    margin-left : calc(((100% - 124px) /2) - 56px);
    #header-logo{
      width : 124px;
      height : 48px;
    }
  }
}