<ng-container *ngIf="!reloading">
  <ng-container *ngIf="isMobile; else desktopVersion">
    <header-mobile-menu-component
      [scaleState]="scaleState"
      [typoState]="typoState"
      [mobileMenuIsDisplayed]="menuIsDisplayed"
      [@menuBorderFade]="menuIsDisplayed"
    ></header-mobile-menu-component>

    <div id="behind-header"></div>
    <div id="mobile-page-content" [@contentFade] *ngIf="contentIsDisplayed" (swipeRight)="openMobileMenu()">
      <router-outlet> </router-outlet>
      <footer-component [@contentFade]></footer-component>
    </div>

    <div
      id="menu-overlay"
      *ngIf="contentIsDisplayed && mobileMenuIsDisplayed"
      [@overlayFade]
      (swipeLeft)="closeMobileMenu()"
      (click)="closeMobileMenu()"
    ></div>

    <mobile-menu-component
      *ngIf="mobileMenuIsDisplayed"
      [@mobileMenuFade]
      (swipeLeft)="closeMobileMenu()"
    ></mobile-menu-component>
  </ng-container>

  <ng-template #desktopVersion>
    <header-desktop-menu-component
      [scaleState]="scaleState"
      [typoState]="typoState"
      [menuIsDisplayed]="menuIsDisplayed"
      [scrolledAmount]="scrolledAmount"
    ></header-desktop-menu-component>
    <div id="desktop-page-content" *ngIf="contentIsDisplayed" [ngStyle]="{ paddingTop: contentOffset }">
      <router-outlet> </router-outlet>
      <footer-component></footer-component>
    </div>
  </ng-template>
</ng-container>
