<ng-container *ngIf="!reloading">
  <ng-container *ngIf="isMobile; else desktopVersion">
    <div id="menu-layer">
      <mobile-menu-component (arrowClicked)="hideMenu()" (swipeleft)="hideMenu()"></mobile-menu-component>
    </div>

    <div id="overlay-layer" (click)="hideMenu()" (swipeleft)="hideMenu()"></div>

    <div id="front-layer" [ngClass]="{ blur: mobileMenuIsDisplayed }" (swiperight)="displayMenu()">
      <div id="page-content" *ngIf="contentIsDisplayed">
        <router-outlet> </router-outlet>
      </div>
    </div>
  </ng-container>

  <ng-template #desktopVersion>
    <header-desktop-menu-component
      [scaleState]="scaleState"
      [typoState]="typoState"
      [menuIsDisplayed]="menuIsDisplayed"
    ></header-desktop-menu-component>
    <div id="page-content" [@contentFade] *ngIf="contentIsDisplayed">
      <router-outlet> </router-outlet>
    </div>
  </ng-template>
</ng-container>
