@import "src/app/utils/_styleVariables";

#mobile-page-content{
  margin-top : 81px;
  width : 100%;
  height : calc(100vh - 81px);
  position : fixed;
  z-index : 0;
  overflow-y: auto;
}

#menu-overlay{
  position : absolute;
  z-index : 1;
  width : 100%;
  height : 100vh;
  background-color : $dark-grey;
  opacity : 0.6;
}

#desktop-page-content{
  width : 100%;
  border-top: 1px solid $light-grey;
}
