@import 'src/app/utils/_styleVariables';

:host {
  margin-bottom: 13.89vw;
  #desktop-settings-wrapper {
    width: 100vw;
    height: 4.72vw;
  }

  #menu-wrapper {
    width: 100vw;
    height: 14.17vw;
    background-color: $white;
    border-bottom: 1px solid $light-grey;

    #menu-container {
      width: 92.86vw;
      height: 8.06vw;
      padding-top: 2.22vw;
      margin-left: calc((100% - 92.86vw) / 2);
      display: flex;
      justify-content: center;
      align-items: center;

      #menu-left-part,
      #menu-right-part {
        width: 34.72vw;
        height: 8.06vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      .menu-link {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        width: 9.17vw;
        align-items: flex-end;
        &:focus {
          outline: none;
        }

        .menu-item {
          cursor: pointer;
          user-select: none;
          color: $black;
          letter-spacing: 0.15em;
          line-height: 1.56;
          height: 1.94vw;
          margin-top: 0.69vw;
          font-size : 1em;
        }

        #menu-indicator {
          position: relative;
          width: 5vw;
          height: 0.28vw;
          background-color: $gold;
          border: none;
          margin: 0;
          margin-left: calc(100% - 72px);
          margin-top: 6px;
        }
      }

      #menu-logo {
        width: 20.83em;
        text-align: center;

        #menu-logo-logo {
          width: 100%;
          visibility : hidden;
        }

        #menu-logo-typo {
          font-family: Kano;
          font-weight: normal;
          letter-spacing: 0.228em;
          font-size: 1.3125vw;
          user-select: none;
          display: block;
          margin-top: 0.42vw;
          height: 1.94vw;
          line-height: 1.4;
        }
      }
    }
  }
}
