<contact-form-component></contact-form-component>
<div id="footer-wrapper">
  <div id="footer-container">
    <div id="logo-line-wrapper">
      <img id="logo-line" alt="Infinity Records Logo" src="assets/img/InfinityRecords_Logo_Line.svg" />
    </div>
    <div id="social-part">
      <a class="social-media-link" href="https://www.facebook.com/infinity.recxrds/" target="_blank" rel="noopener">
        <img class="social-media-icon" alt="Facebook Icon" src="assets/icons/social_facebook_black.svg" />
      </a>
      <a class="social-media-link" href="https://www.instagram.com/infinity.recxrds/" target="_blank" rel="noopener">
        <img class="social-media-icon" alt="Instagram Icon" src="assets/icons/social_instagram_black.svg" />
      </a>
      <a class="social-media-link" href="https://soundcloud.com/infinity-recxrds" target="_blank" rel="noopener">
        <img class="social-media-icon" alt="Soundcloud Icon" src="assets/icons/social_soundcloud_black.svg" />
      </a>
    </div>
    <div id="rights-part">
      <p>{{ 'COPYRIGHT_1' | translation }}{{ actualYear }}{{ 'COPYRIGHT_2' | translation }}</p>
    </div>
  </div>
</div>
