@import 'src/app/utils/_styleVariables';
#content {
  @media screen and (min-device-width: $tablet-size) {
    margin: 20vh 25vw 0 25vw;
    width: 50vw;
    height: 30vw;
  }
  @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
  }
  @media screen and (max-device-width: $mobile-size) {
  }

  #cover-wrapper {
    text-align: center;
    @media screen and (min-device-width: $tablet-size) {
      display: inline-block;
      vertical-align: top;
      width: 25vw;
      height: 30vw;
    }
    @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
      margin-top: 8vw;
      height: 50vw;
    }
    @media screen and (max-device-width: $mobile-size) {
      margin-top: 10vw;
      height: 70vw;
    }
    #cover {
      border: 1px solid #ddd;
      -webkit-box-shadow: -5px 10px 14px -2px rgba(0, 0, 0, 0.59);
      -moz-box-shadow: -5px 10px 14px -2px rgba(0, 0, 0, 0.59);
      box-shadow: -5px 10px 14px -2px rgba(0, 0, 0, 0.59);
      @media screen and (min-device-width: $tablet-size) {
        height: 25vw;
        width: 25vw;
      }
      @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
        height: 50vw;
        width: 50vw;
      }
      @media screen and (max-device-width: $mobile-size) {
        height: 70vw;
        width: 70vw;
      }
    }
  }

  #tracklist-and-download {
    @media screen and (min-device-width: $tablet-size) {
      display: inline-block;
      vertical-align: top;
      width: 25vw;
      height: 30vw;
    }
    #tracklist {
      font-size: 14px;
      @media screen and (min-device-width: $tablet-size) {
        width: 70%;
        margin-left: 15%;
        p {
          margin: 0.5vw;
          font-size: 1.1vw;
        }
      }
      @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
        margin-top: 5vw;
        margin-left: 25vw;
        width: 50vw;
        p {
          margin: 1vw;
        }
      }
      @media screen and (max-device-width: $mobile-size) {
        margin-top: 8vw;
        margin-left: 15vw;
        width: 70vw;
        p {
          margin: 1vw;
        }
      }
      #release-date {
        @media screen and (min-device-width: $tablet-size) {
          font-size: 1.2vw;
          margin-bottom: 1.5vw;
        }
        @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
          text-align: center;
          margin-bottom: 2vw;
        }
        @media screen and (max-device-width: $mobile-size) {
          text-align: center;
          margin-bottom: 2.5vw;
        }
      }
      #tracklist-title {
        font-weight: bold;
        margin-bottom: 1vw;
        @media screen and (min-device-width: $tablet-size) {
          font-size: 1.3vw;
        }
        @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
          margin-left: 5vw;
        }
        @media screen and (max-device-width: $mobile-size) {
          margin-left: 3vw;
        }
      }
      .tracklist-number {
        margin-right: 2px;
        @media screen and (min-device-width: $tablet-size) {
          margin-top: 2vw;
        }
        @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
          margin-left: calc(5vw + 5px);
        }
        @media screen and (max-device-width: $mobile-size) {
          margin-left: calc(3vw + 5px);
        }
      }
    }

    #download-button-wrapper {
      text-align: center;
      @media screen and (min-device-width: $tablet-size) {
        margin-top: 2vw;
      }
      @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
        margin-top: 5vw;
        margin-bottom: 5vw;
      }
      @media screen and (max-device-width: $mobile-size) {
        margin-top: 7vw;
        margin-bottom: 7vw;
      }

      #download-button {
        background-color: #181818;
        color: #fff;
        text-align: center;
        border: none;
        border-radius: 3px;
        -webkit-box-shadow: -2px 4px 10px -2px rgba(0, 0, 0, 0.59);
        -moz-box-shadow: -2px 4px 10px -2px rgba(0, 0, 0, 0.59);
        box-shadow: -2px 4px 10px -2px rgba(0, 0, 0, 0.59);
        @media screen and (min-device-width: $tablet-size) {
          font-size: 1.3vw;
          width: 10vw;
          height: 4vw;
          cursor: pointer;
        }
        @media screen and (max-device-width: $tablet-size) and (min-device-width: $mobile-size) {
          width: 180px;
          height: 60px;
        }
        @media screen and (max-device-width: $mobile-size) {
          width: 130px;
          height: 50px;
        }
      }
    }
  }
}
