<div id="content">
  <div id="cover-wrapper">
    <img id="cover" src="assets/img/prtape_vol_1_cover_front.jpg" alt="PRTape Vol. 1 Cover" />
  </div>

  <div id="tracklist-and-download">
    <div id="tracklist">
      <p id="tracklist-title">Tracklist :</p>
      <p><span class="tracklist-number">1.</span>Introduction</p>
      <p><span class="tracklist-number">2.</span>Parce Que</p>
      <p><span class="tracklist-number">3.</span>La Vie Est Une Toupie</p>
      <p><span class="tracklist-number">4.</span>Tu Sais Qui Fait Ca</p>
      <p><span class="tracklist-number">5.</span>A Fleur de Prose</p>
      <p><span class="tracklist-number">6.</span>Rêve Aérien</p>
      <p><span class="tracklist-number">7.</span>Poésie Moderne (feat Gus)</p>
      <p><span class="tracklist-number">8.</span>Spectateurs de nos Vies</p>
    </div>

    <div id="download-button-wrapper">
      <button id="download-button" (click)="download('assets/downloads/PRT_Crew-PRTape_Vol_1-2014.zip')">
        Download
      </button>
    </div>
  </div>
</div>
