@import 'src/app/utils/_styleVariables';

#artist-navigation-wrapper {
  position: relative;

  #artist-navigation {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-device-width: $desktop-size) {
      margin-left: 4.86vw;
      margin-top: calc(-5.14vw - 1.11vw - 2.22vw - 42.15vw);
      width: calc(100vw - 4.86vw - 12.56vw);
      height: 5.14vw;
      margin-bottom: 1.11vw;
    }
    @media screen and (max-device-width: $desktop-size) {
      width: calc(-16px + 100vw - 16px);
      height: 26px;
      margin: calc(-74px - 65px - 91.49vw - 48px - 244px - 64px + 16px) 16px 32px 16px;
    }

    #back-button {
      img {
        @media screen and (min-device-width: $desktop-size) {
          height : 1.66vw;
          width : 1.66vw;
          margin-right: 0.56vw;
        }
        @media screen and (max-device-width: $desktop-size) {
          margin-right: 8px;
        }
      }
      display: flex;
      align-items: center;
      font-size: 0.9em;
      cursor: pointer;
      @media screen and (min-device-width: $desktop-size) {
        height: 1.67vw;
      }
      @media screen and (max-device-width: $desktop-size) {
        height: 24px;
      }
    }
    #arborescence {
      text-align: center;
      width: 28.82vw;
      position: absolute;
      margin-left: calc(12.5vw - 4.86vw + (100vw - 12.5vw - 35.69vw) - 28.82vw);
      #arbo-first {
        font-size: 0.9em;
        margin-right: 0.83vw;
        cursor: pointer;
      }
      #arbo-slash {
        width: 24px;
        font-size: 0.9em;
        margin-right: 0.83vw;
        color: $grey;
        cursor: default;
      }
      #arbo-second {
        font-size: 0.9em;
        font-weight: 600;
        cursor: default;
      }
    }
    #next-artist-button {
      display: flex;
      align-items: center;
      font-size: 0.9em;
      font-weight: 600;
      cursor: pointer;
      @media screen and (min-device-width: $desktop-size) {
        height: 1.67vw;
      }
      @media screen and (max-device-width: $desktop-size) {
        height: 24px;
      }
      img {
        @media screen and (min-device-width: $desktop-size) {
          height : 1.66vw;
          width : 1.66vw;
          margin-left: 0.56vw;
        }
        @media screen and (max-device-width: $desktop-size) {
          margin-left: 8px;
        }
      }
    }
  }
}
