@import 'src/app/utils/_styleVariables';

@media screen and (min-device-width: $desktop-size) {
}
@media screen and (max-device-width: $desktop-size) {
}
:host {
  #projects-first-layer {
    width: calc(100vw - 12.57vw);
    border-right: 2px solid $very-light-grey;
    #projects-second-layer {
      width: calc(64.31vw - 15.42vw - 70px);
      background-color: $very-light-grey;
      padding: 104px 15.42vw 104px 70px;

      #projects-title {
        font-size: 44px;
        font-weight: normal;
      }

      #projects-indicators {
        @media screen and (min-device-width: $desktop-size) {
          margin-top: 32px;
        }
        @media screen and (max-device-width: $desktop-size) {
          margin-top: 24px;
        }
        .projects-indicator {
          display: inline-block;
          cursor: pointer;
          color: $black;
          margin-right: 24px;
          font-size: 18px;
          line-height: 1.56;
          user-select: none;
        }
      }

      #project-container {
        width: 100%;
        margin-top: 56px;
        .cover-and-player-container{
          position : absolute;
          width : 30.83vw;
          height : calc(30.83vw + 16px + 11.32vw);
          margin-left : calc(56.60vw - 70px);
          .project-cover{
            width : 30.83vw;
            height : 30.83vw;
            margin-bottom : 16px;
          }
        }
        .project-title-and-duration {
          display: flex;
          justify-content: space-between;
          height: 40px;
          align-items: center;
          line-height: 1.25;
          .project-title {
            font-size: 32px;
            font-weight: 600;
          }
          .project-duration {
            font-size: 32px;
            font-weight: normal;
            color: $grey;
          }
        }
        .project-release-date {
          font-size: 18px;
          color: $grey;
          font-weight: 500;
          line-height: 1.33;
          margin-top: 8px;
        }
        .project-tracklist {
          margin-top: 14px;
          .project-track-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 59px;
            border-bottom: 1px solid $light-grey;

            .track-informations {
              display : flex;
              align-items: center;
              font-size: 16px;
              font-weight: 600;
              .track-number {
                font-size: 18px;
                font-weight: normal;
                line-height: 1.56;
                margin-right: 8px;
              }
              .track-separator {
                height: 1px;
                border: none;
                margin: 0;
                background-color: $gold;
                width: 24px;
                margin-right: 8px;
              }
            }

            .playing-indicators {
              font-size : 16px;

              .play-button {
                display : flex;
                align-items: center;
                img{
                  width : 20px;
                  height : 20px;
                  margin-right : 5px;
                  text-decoration: none;
                }
                cursor : pointer;
                font-weight : normal;
                text-decoration: underline;
              }
              .listening-indicator {
                display : flex;
                align-items: center;
                img{
                  width : 24px;
                  height : 24px;
                }
                font-weight : 600;
              }
            }
          }
        }
        .project-download-button {
          width: 171px;
          height: 40px;
          background-color: $black;
          color: $white;
          font-family: 'Montserrat';
          font-size: 16px;
          font-weight: 500;
          border: none;
          cursor: pointer;
          padding: none;
          margin-top: 66px;
          margin-left: calc(100% - 171px);
        }
      }

    }

  }
}
