<div id="menu-header">
  <img id="menu-header-back" alt="Back Icon" src="assets/icons/back_icon.svg" (click)="closeMenu()" />
  <p id="menu-header-title">{{ 'MENU' | translation }}</p>
</div>

<div id="menu-content">
  <div class="menu-item">
    <a class="menu-link" routerLink="/home" routerLinkActive="active" (click)="closeMenu()">
      <h2>{{ 'HOME' | translation | uppercase }}</h2>
    </a>
  </div>
  <div class="menu-item">
    <a class="menu-link" routerLink="/label" routerLinkActive="active" (click)="closeMenu()">
      <h2>{{ 'LABEL' | translation | uppercase }}</h2>
    </a>
  </div>
  <div class="menu-item">
    <a class="menu-link" routerLink="/artists" routerLinkActive="active" (click)="closeMenu()">
      <h2>{{ 'ARTISTS' | translation | uppercase}}</h2>
    </a>
  </div>
  <div class="menu-item">
    <a class="menu-link" routerLink="/merch" routerLinkActive="active" (click)="closeMenu()">
      <h2>{{ 'MERCH' | translation | uppercase}}</h2>
    </a>
  </div>
  <language-menu-component id="language-menu"></language-menu-component>
</div>

<div id="menu-footer">
  <hr id="social-media-separator" />
  <a class="social-media-link" href="https://www.facebook.com/infinity.recxrds/" target="_blank">
    <img class="social-media-icon" alt="Facebook Icon" src="assets/icons/social_facebook_black.svg" />
  </a>
  <a class="social-media-link" href="https://www.instagram.com/infinity.recxrds/" target="_blank">
    <img class="social-media-icon" alt="Instagram Icon" src="assets/icons/social_instagram_black.svg" />
  </a>
  <a class="social-media-link" href="https://soundcloud.com/infinity-recxrds" target="_blank">
    <img class="social-media-icon" alt="Soundcloud Icon" src="assets/icons/social_soundcloud_black.svg" />
  </a>
</div>
