@import 'src/app/utils/_styleVariables';

:host {
  width: 92.02vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background-color: $white;

  #menu-header {
    margin-top: 4.26vw;
    height: 10.64vw;
    width: 100%;
    display: flex;
    align-items: center;

    #menu-header-back {
      margin-left: 4.26vw;
      margin-right: 3.19vw;
    }
    #menu-header-title {
      font-size: 2em;
    }
  }

  #menu-content {
    width: 100%;
    margin: 6.39vw 4.26vw 0px 4.26vw;

    .menu-item {
      height: 15.43vw;
      width: 83.51vw;
      border-bottom: 1px solid $light-grey;
      .menu-link {
        display: block;
        width: 100%;
        height: 15.43vw;
        line-height: 15.43vw;
        text-decoration: none;
        h2 {
          user-select: none;
          font-size: 0.9em;
          font-weight: 500;
          color: $black;
          letter-spacing: 0.06em;
        }
      }
    }
    #language-menu {
      display: block;
      margin-top: 6.39vw;
    }
  }

  #menu-footer {
    position: absolute;
    bottom: 0;
    margin-left: 4.26vw;
    margin-bottom: 4.52vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    #social-media-separator {
      width: 46.28vw;
      height: 0.53vw;
      border: none;
      margin: 0.53vw 3.19vw 0 0;
      background-color: $gold;
    }

    .social-media-link {
      user-select: none;
      .social-media-icons {
        margin-right: 1.06vw;
      }
    }
  }
}
