@import 'src/app/utils/_styleVariables';

#current-language {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  #current-language-label {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    margin-right: 12px;
  }
  #current-language-arrow {
    display: inline-block;
    @media screen and (min-device-width: $tablet-size) {
      margin-right: 0.28vw;
      width: 1.67vw;
      height: 1.67vw;
    }
    @media screen and (max-device-width: $tablet-size) {
      margin-right: 4px;
      width: 24px;
      height: 24px;
    }
  }
}

#selection-menu-wrapper {
  position: absolute;
  z-index: 10;
  margin-top: 7px;
  margin-left: 17px;
  width: 152px;
  &.french {
    margin-left: 24px;
  }
  #selection-menu-roof {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 24px;
  }

  #selection-menu-content {
    background-color: $black;
    color: $white;
    padding: 12px 24px;
  }

  #selection-menu-title {
    font-weight: 600;
    font-size: 0.8em;
    margin-top: 12px;
    letter-spacing: 1px;
  }

  .selection-menu-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $dark-grey;
    cursor: pointer;
    padding: 12px 0;

    .selection-menu-item-icon-wrapper {
      width: 28px;
      .selection-menu-item-icon {
        display: inline-block;
        margin-right: 4px;
        width: 24px;
        height: 24px;
      }
    }

    .selection-menu-item-label {
      display: inline-block;
      font-size: 0.9em;
    }
    .selected {
      color: $gold;
    }
  }

  .selection-menu-item:last-child {
    border-bottom: none;
  }
}
